/*==============ANIMAÇÂO==============*/
/*=======CLOUD=======*/
@-webkit-keyframes moveright{
    0%{top:15%;left:-15%;}
    50%{top:0%;left:50%;}
    100%{top:15%;left:115%;}
}
@-moz-keyframes moveright{
    0%{top:15%;left:-15%;}
    50%{top:0%;left:50%;}
    100%{top:15%;left:115%;}
}
@-o-keyframes moveright{
    0%{top:15%;left:-15%;}
    50%{top:0%;left:50%;}
    100%{top:15%;left:115%;}
}
@keyframes moveright{
    0%{top:15%;left:-15%;}
    50%{top:0%;left:50%;}
    100%{top:15%;left:115%;}
}

/*=======GIRAFFE=======*/
@-webkit-keyframes seearound{
    0%{bottom:-10%;left:50%;-webkit-transform:rotateY(0deg);}
    15%{bottom:-10%;}
    22%{bottom:22%;}
    26%{bottom:21%;}
    29%{bottom:22%;-webkit-transform:rotateY(0deg);}
    30%{bottom:22%;-webkit-transform:rotateY(180deg);}
    32%{bottom:21%;-webkit-transform:rotateY(180deg);}
    33%{bottom:21%;-webkit-transform:rotateY(0deg);}
    35%{bottom:22%;-webkit-transform:rotateY(0deg);}
    36%{bottom:22%;-webkit-transform:rotateY(180deg);}
    39%{bottom:21%;}
    41%{bottom:22%;}
    48%{bottom:-10%;left:50%;-webkit-transform:rotateY(180deg);}
    49%{bottom:-10%;left:27%;-webkit-transform:rotateY(0deg);}
    55%{bottom:32%;}
    59%{bottom:31%;}
    62%{bottom:32%;-webkit-transform:rotateY(0deg);}
    63%{bottom:32%;-webkit-transform:rotateY(180deg);}
    66%{bottom:31%;-webkit-transform:rotateY(180deg);}
    67%{bottom:31%;-webkit-transform:rotateY(0deg);}
    68%{bottom:32%;-webkit-transform:rotateY(0deg);}
    70%{bottom:32%;-webkit-transform:rotateY(180deg);}
    72%{bottom:31%;}
    75%{bottom:32%;}
    81%{bottom:-10%;}
    100%{bottom:-10%;left:27%;-webkit-transform:rotateY(180deg);}
}
@-moz-keyframes seearound{
    0%{bottom:-10%;left:50%;-moz-transform:rotateY(0deg);}
    15%{bottom:-10%;}
    22%{bottom:22%;}
    26%{bottom:21%;}
    29%{bottom:22%;-moz-transform:rotateY(0deg);}
    30%{bottom:22%;-moz-transform:rotateY(180deg);}
    32%{bottom:21%;-moz-transform:rotateY(180deg);}
    33%{bottom:21%;-moz-transform:rotateY(0deg);}
    35%{bottom:22%;-moz-transform:rotateY(0deg);}
    36%{bottom:22%;-moz-transform:rotateY(180deg);}
    39%{bottom:21%;}
    41%{bottom:22%;}
    48%{bottom:-10%;left:50%;-moz-transform:rotateY(180deg);}
    49%{bottom:-10%;left:27%;-moz-transform:rotateY(0deg);}
    55%{bottom:32%;}
    59%{bottom:31%;}
    62%{bottom:32%;-moz-transform:rotateY(0deg);}
    63%{bottom:32%;-moz-transform:rotateY(180deg);}
    66%{bottom:31%;-moz-transform:rotateY(180deg);}
    67%{bottom:31%;-moz-transform:rotateY(0deg);}
    68%{bottom:32%;-moz-transform:rotateY(0deg);}
    70%{bottom:32%;-moz-transform:rotateY(180deg);}
    72%{bottom:31%;}
    75%{bottom:32%;}
    81%{bottom:-10%;}
    100%{bottom:-10%;left:27%;-moz-transform:rotateY(180deg);}
}
@-o-keyframes seearound{
    0%{bottom:-10%;left:50%;-o-transform:rotateY(0deg);}
    15%{bottom:-10%;}
    22%{bottom:22%;}
    26%{bottom:21%;}
    29%{bottom:22%;-o-transform:rotateY(0deg);}
    30%{bottom:22%;-o-transform:rotateY(180deg);}
    32%{bottom:21%;-o-transform:rotateY(180deg);}
    33%{bottom:21%;-o-transform:rotateY(0deg);}
    35%{bottom:22%;-o-transform:rotateY(0deg);}
    36%{bottom:22%;-o-transform:rotateY(180deg);}
    39%{bottom:21%;}
    41%{bottom:22%;}
    48%{bottom:-10%;left:50%;-o-transform:rotateY(180deg);}
    49%{bottom:-10%;left:27%;-o-transform:rotateY(0deg);}
    55%{bottom:32%;}
    59%{bottom:31%;}
    62%{bottom:32%;-o-transform:rotateY(0deg);}
    63%{bottom:32%;-o-transform:rotateY(180deg);}
    66%{bottom:31%;-o-transform:rotateY(180deg);}
    67%{bottom:31%;-o-transform:rotateY(0deg);}
    68%{bottom:32%;-o-transform:rotateY(0deg);}
    70%{bottom:32%;-o-transform:rotateY(180deg);}
    72%{bottom:31%;}
    75%{bottom:32%;}
    81%{bottom:-10%;}
    100%{bottom:-10%;left:27%;-o-transform:rotateY(180deg);}
}
@keyframes seearound{
    0%{bottom:-10%;left:50%;-o-transform:rotateY(0deg);}
    15%{bottom:-10%;}
    22%{bottom:22%;}
    26%{bottom:21%;}
    29%{bottom:22%;-o-transform:rotateY(0deg);}
    30%{bottom:22%;-o-transform:rotateY(180deg);}
    32%{bottom:21%;-o-transform:rotateY(180deg);}
    33%{bottom:21%;-o-transform:rotateY(0deg);}
    35%{bottom:22%;-o-transform:rotateY(0deg);}
    36%{bottom:22%;-o-transform:rotateY(180deg);}
    39%{bottom:21%;}
    41%{bottom:22%;}
    48%{bottom:-10%;left:50%;-o-transform:rotateY(180deg);}
    49%{bottom:-10%;left:27%;-o-transform:rotateY(0deg);}
    55%{bottom:32%;}
    59%{bottom:31%;}
    62%{bottom:32%;-o-transform:rotateY(0deg);}
    63%{bottom:32%;-o-transform:rotateY(180deg);}
    66%{bottom:31%;-o-transform:rotateY(180deg);}
    67%{bottom:31%;-o-transform:rotateY(0deg);}
    68%{bottom:32%;-o-transform:rotateY(0deg);}
    70%{bottom:32%;-o-transform:rotateY(180deg);}
    72%{bottom:31%;}
    75%{bottom:32%;}
    81%{bottom:-10%;}
    100%{bottom:-10%;left:27%;-o-transform:rotateY(180deg);}
}

/*=======BEE=======*/
@-webkit-keyframes voar{
    0%{bottom:50%;left:70%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(0deg);}
    5%{bottom:55%;left:74%;-webkit-animation-timing-function:ease-out;}
    10%{bottom:50%;left:78%;-webkit-animation-timing-function:ease-out;}
    15%{bottom:55%;left:74%;-webkit-animation-timing-function:ease-out;}
    22%{bottom:40%;left:50%;-webkit-animation-timing-function:ease-out;}
    27%{bottom:50%;left:15%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(0deg);}
    35%{bottom:50%;left:18%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(180deg);}
    40%{bottom:55%;left:15%;-webkit-animation-timing-function:ease-out;}
    45%{bottom:50%;left:14%;-webkit-animation-timing-function:ease-out;}
    50%{bottom:55%;left:18%;-webkit-animation-timing-function:ease-out;}
    55%{bottom:50%;left:18%;-webkit-animation-timing-function:ease-out;}
    60%{bottom:55%;left:15%;-webkit-animation-timing-function:ease-out;}
    65%{bottom:50%;left:18%;-webkit-animation-timing-function:ease-out;}
    73%{bottom:50%;left:15%;-webkit-animation-timing-function:ease-out;}
    78%{bottom:40%;left:50%;-webkit-animation-timing-function:ease-out;}
    85%{bottom:55%;left:74%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(180deg);}
    90%{bottom:50%;left:78%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(0deg);}
    100%{bottom:50%;left:70%;-webkit-animation-timing-function:ease-out;-webkit-transform:rotateY(0deg);}
}
@-moz-keyframes voar{
    0%{bottom:50%;left:70%;-moz-animation-timing-function:ease-out;}
    50%{bottom:55%;left:74%;-moz-animation-timing-function:ease-out;}
    100%{bottom:50%;left:78%;-moz-animation-timing-function:ease-out;}
}
@-o-keyframes voar{
    0%{bottom:50%;left:70%;-o-animation-timing-function:ease-out;}
    50%{bottom:55%;left:74%;-o-animation-timing-function:ease-out;}
    100%{bottom:50%;left:78%;-o-animation-timing-function:ease-out;}
}
@keyframes voar{
    0%{bottom:50%;left:70%;animation-timing-function:ease-out;}
    50%{bottom:55%;left:74%;animation-timing-function:ease-out;}
    100%{bottom:50%;left:78%;animation-timing-function:ease-out;}
}
/*=======================*/
@-webkit-keyframes asas{
    0%{background-image: url(../img/mundo1/bee.png)}
    100%{background-image: url(../img/mundo1/bee2.png)}
}
@-moz-keyframes asas{
    0%{background-image: url(../img/mundo1/bee.png)}
    100%{background-image: url(../img/mundo1/bee2.png)}
}
@-o-keyframes asas{
    0%{background-image: url(../img/mundo1/bee.png)}
    100%{background-image: url(../img/mundo1/bee2.png)}
}
@keyframes asas{
    0%{background-image: url(../img/mundo1/bee.png)}
    100%{background-image: url(../img/mundo1/bee2.png)}
}
/*=======ELEPHANT=======*/
@-webkit-keyframes stand{
    40%{left: 40%;bottom:5%;}
    45%{left: 39.9%;bottom:5.1%;}
    50%{left: 40%;bottom:5%;}
    55%{left: 39.9%;bottom:5.1%;}
}
@-moz-keyframes stand{
    40%{left: 40%;bottom:5%;}
    45%{left: 39.9%;bottom:5.1%;}
    50%{left: 40%;bottom:5%;}
    55%{left: 39.9%;bottom:5.1%;}
}
@-o-keyframes stand{
    40%{left: 40%;bottom:5%;}
    45%{left: 39.9%;bottom:5.1%;}
    50%{left: 40%;bottom:5%;}
    55%{left: 39.9%;bottom:5.1%;}
}
@keyframes stand{
    40%{left: 40%;bottom:5%;}
    45%{left: 39.9%;bottom:5.1%;}
    50%{left: 40%;bottom:5%;}
    55%{left: 39.9%;bottom:5.1%;}
}
/*=======================*/
@-webkit-keyframes water{
    0%{background-image:none}40%{background-image:none}
    45%{background-image: url(../img/mundo1/water1.png)}
    50%{background-image: url(../img/mundo1/water2.png)}
    55%{background-image: url(../img/mundo1/water3.png)}
    60%{background-image:none}100%{background-image:none}
}
@-moz-keyframes water{
    0%{background-image:none}40%{background-image:none}
    45%{background-image: url(../img/mundo1/water1.png)}
    50%{background-image: url(../img/mundo1/water2.png)}
    55%{background-image: url(../img/mundo1/water3.png)}
    60%{background-image:none}100%{background-image:none}
}
@-o-keyframes water{
    0%{background-image:none}40%{background-image:none}
    45%{background-image: url(../img/mundo1/water1.png)}
    50%{background-image: url(../img/mundo1/water2.png)}
    55%{background-image: url(../img/mundo1/water3.png)}
    60%{background-image:none}100%{background-image:none}
}
@keyframes water{
    0%{background-image:none}40%{background-image:none}
    45%{background-image: url(../img/mundo1/water1.png)}
    50%{background-image: url(../img/mundo1/water2.png)}
    55%{background-image: url(../img/mundo1/water3.png)}
    60%{background-image:none}100%{background-image:none}
}
/*=======SUN=======*/
@-webkit-keyframes passar{
    0%{bottom:-30%;left:-50%;}
    25%{bottom:40%;left:-10%;}
    50%{bottom:55%;left:20%;}
    75%{bottom:40%;left:60%;}
    100%{bottom:-30%;left:100%;}
}
@-moz-keyframes passar{
    0%{bottom:-30%;left:-50%;}
    25%{bottom:40%;left:-10%;}
    50%{bottom:55%;left:20%;}
    75%{bottom:40%;left:60%;}
    100%{bottom:-30%;left:100%;}
}
@-o-keyframes passar{
    0%{bottom:-30%;left:-50%;}
    25%{bottom:40%;left:-10%;}
    50%{bottom:55%;left:20%;}
    75%{bottom:40%;left:60%;}
    100%{bottom:-30%;left:100%;}
}
@keyframes passar{
    0%{bottom:-30%;left:-50%;}
    25%{bottom:40%;left:-10%;}
    50%{bottom:55%;left:20%;}
    75%{bottom:40%;left:60%;}
    100%{bottom:-30%;left:100%;}
}
/*=======================*/
@-webkit-keyframes girar{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes girar{
    0%{-moz-transform:rotate(0deg)}
    100%{-moz-transform:rotate(360deg)}
}
@-o-keyframes girar{
    0%{-o-transform:rotate(0deg)}
    100%{-o-transform:rotate(360deg)}
}
@keyframes girar{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
/*=================CSS=================*/
html, body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url('../img/mundo1/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sun{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    z-index: -99;
    -webkit-animation: passar 400s linear 0 infinite forwards;
    -moz-animation: passar 400s linear 0 infinite forwards;
    -o-animation: passar 400s linear 0 infinite forwards;
    animation: passar 400s linear 0 infinite forwards;
}

.sunimg{
    background-image: url(../img/mundo1/sun2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: girar 5s linear 0 infinite forwards;
    -moz-animation: girar 5s linear 0 infinite forwards;
    -o-animation: girar 5s linear 0 infinite forwards;
    animation: girar 5s linear 0 infinite forwards;
}
.sunimg2{
    background-image: url(../img/mundo1/sun1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mundo1{
    background-image: url(../img/mundo1/mundo.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
}
/*=======CLOUD=======*/
.cloud{
    background-image: url(../img/mundo1/cloud.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    left: -20%;
}
.cloud1{
    margin-top: 100px;
    width: 81px;
    height: 48px;
    z-index: -10;
    -webkit-animation: moveright 250s linear 40s infinite forwards;
    -moz-animation: moveright 250s linear 40s infinite forwards;
    -o-animation: moveright 250s linear 40s infinite forwards;
    animation: moveright 250s linear 40s infinite forwards;
}
.cloud2{
    width: 194px;
    height: 111px;
    z-index: -8;
    -webkit-animation: moveright 150s linear 0 infinite forwards;
    -moz-animation: moveright 150s linear 0 infinite forwards;
    -o-animation: moveright 150s linear 0 infinite forwards;
    animation: moveright 150s linear 0 infinite forwards;
}
.cloud3{
    margin-top: 150px;
    width: 137px;
    height: 79px;
    z-index: -9;
    -webkit-animation: moveright 200s linear 140s infinite forwards;
    -moz-animation: moveright 200s linear 140s infinite forwards;
    -o-animation: moveright 200s linear 140s infinite forwards;
    animation: moveright 200s linear 140s infinite forwards;
}
/*=======Giraffe=======*/
.giraffe{
    background-image: url(../img/mundo1/giraffe.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 40%;
    left: 50%;
    -webkit-animation: seearound 75s linear 0 infinite forwards;
    -moz-animation: seearound 75s linear 0 infinite forwards;
    -o-animation: seearound 75s linear 0 infinite forwards;
    animation: seearound 75s linear 0 infinite forwards;
}
/*=======BEE=======*/
.bee{
    position: absolute;
    bottom: 50%;
    left: 70%;
    -webkit-animation: voar 30s linear 0 infinite forwards;
    -moz-animation: voar 15s linear 0 infinite forwards;
    -o-animation: voar 15s linear 0 infinite forwards;
    animation: voar 15s linear 0 infinite forwards;
}
#beeimg{
    background-image: url(../img/mundo1/bee.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 55px;
    height: 48px;
    -webkit-animation: asas 0.3s linear 0 infinite alternate;
    -moz-animation: asas 0.3s linear 0 infinite alternate;
    -o-animation: asas 0.3s linear 0 infinite alternate;
    animation: asas 0.3s linear 0 infinite alternate;
}
/*=======ELEPHANT=======*/
.elephant{
    background-image: url(../img/mundo1/elephants.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 341px;
    width: 25%;
    max-height: 240px;
    height: 25%;
    left: 40%;
    bottom:5%;
    -webkit-animation: stand 10s linear 0 infinite forwards;
    -moz-animation: stand 10s linear 0 infinite forwards;
    -o-animation: stand 10s linear 0 infinite forwards;
    animation: stand 10s linear 0 infinite forwards;
}
.water{
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 60%;
    width: 30%;
    height: 30%;
    -webkit-animation: water 10s linear 0 infinite forwards;
    -moz-animation: water 10s linear 0 infinite forwards;
    -o-animation: water 10s linear 0 infinite forwards;
    animation: water 10s linear 0 infinite forwards;
}


/*********************************************************************/
.btn-red:before{
    background-color: #e51c23;
}
.btn-Purple:before{
    background-color: #9c27b0;
}
.btn-Indigo:before{
    background-color: #3f51b5;
}
.btn-LightBlue:before{
    background-color: #03a9f4;
}
.btn-Cyan:before{
    background-color: #00bcd4;
}
.btn-Teal:before{
    background-color: #009688;
}
.btn-Green:before{
    background-color: #259b24;
}
.btn-Amber:before{
    background-color: #ffc107;
}
.btn-Orange:before{
    background-color: #ff9800;
}
.btn-DeepOrange:before{
    background-color: #ff5722;
}
.btn-Brown:before{
    background-color: #795548;
}
/*==MENU==*/
/*purple*/
.menu-purple{
    background: rgba(156, 39, 176, 0.6);
}
.menu-purple>.menu-head{
    background: #9c27b0;
}
/*red*/
.menu-red{
    background: rgba(229, 28, 35, 0.6);
}
.menu-red>.menu-head{
    background: #e51c23;
}
/*Teal*/
.menu-teal{
    background: rgba(0, 150, 136, 0.6);
}
.menu-teal>.menu-head{
    background: #009688;
}
/*Cyan*/
.menu-cyan{
    background: rgba(0, 188, 212, 0.6);
}
.menu-cyan>.menu-head{
    background-color: #00bcd4;
}
/*Indigo*/
.menu-indigo{
    background: rgba(63, 81, 181, 0.6);
}
.menu-indigo>.menu-head{
    background: #3f51b5;
}
/*Orange*/
.menu-orange{
    background: rgba(255, 152, 0, 0.6);
}
.menu-orange>.menu-head{
    background: #ff9800;
}



.menu{
    min-height: 100px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
.menu-head{}
.menu-head>h1{
    float: left;
    padding: 10px 15px;
    line-height: 35px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
}
.menu-head>a.close{
    float: right;
    border: 1px solid white;
    line-height: 35px;
    width: 35px;
    border-radius: 36px;
    margin: 10px 15px;
}
.menu-horizontal{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.menu-horizontal li{
}
.menu-horizontal>*{
    white-space: nowrap;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.menu-horizontal a,
.menu-horizontal a:link,
.menu-horizontal a:visited,
.menu-horizontal a:hover{
    text-decoration: none;
    color: inherit;
    border: none;
}
.menu-horizontal a{
    display: inline-block;
}
.menu-horizontal a>*{
    margin: 0 auto;
    display: block;
    clear: both;
}
.menu-item img{
    box-shadow: 1px 1px 5px black;
}

#configuracoes{
    padding: 30px 50px;
    text-align: right;
    font-size: 24px;
}
#configuracoes a,
#configuracoes a:link,
#configuracoes a:visited,
#configuracoes a:hover{
    border: none;
    line-height: 48px;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-weight: bold;
}
