@media (max-width: 800px) {

    .aspectStyles {
        font-size: 100% !important;
    }

    main {
        height: 1000px;
    }

    /* Logo Educanave */
    #logoEducanave {
        content: url("./assets/Tablet/Logo-Nuvem-Mesa-tablet0.png");
        max-width: 110%;
        width: 101%;
        position: absolute;
        top: 30px;
        left: -5px;
    }

    /* Logo Cittius */
    #logoCittius {
        content: url("./assets/Tablet/Cittius_2.png");
        position: relative;
        top: 30px;
        left: 220px;
    }

    /* Botão Login */
    #botaoLogin {
        content: url("./assets/Tablet/Botao1.png");
        position: relative;
        top: 20px;
        left: -300px;
    }

    /* Nuvem */
    #nuvem {
        content: url("./assets/Tablet/Nuvem1_1.png");
        position: relative;
        top: 20px;
    }

    /* Título Decolar */
    #decolar {
        content: url("./assets/Tablet/Decolar_4.png");
        max-width: 120%;
        position: relative;
        top: 30px;
    }

    /* Decolar Text 1 */
    .divDecolarText1 {
        width: 130%;
        top: -350px;
        left: 0px;
    }

    /* Decolar Text 2 */
    .divDecolarText2 {
        top: -480px;
        left: 50px;
        width: 120%;
    }

    #textDesktop {
        display: none;
    }

    #textMobile {
        display: block;
    }

    /* Decolar Texts */
    .textDecolar {
        padding-left: 20px;
        font-family: 'Gotham-medium';
        color: white;
    }

    /* Sol */
    #raioSol {
        content: url("./assets/1920/raioSol.png");
        display: none;
    }

    #sol {
        content: url("./assets/1440/Sol_1.png");
        display: none;
    }

    /* Mesa 1 */
    #mesa1 {
        content: url("./assets/Tablet/Mesa1_1.png");
        position: relative;
        top: 0px;
        left: -270px;
    }

    .divTituloNave {
        position: relative;
        top: 50px;
    }

    /* Título Nave */
    #tituloNave {
        content: url("./assets/Tablet/Titulo1.png");
        max-width: 65%;
        padding-left: 230px;
        margin-top: 40px;
    }

    /* Dra. Ana */
    #drAna {
        content: url("./assets/Tablet/DrAna_3.png");
        max-width: 80%;
        position: relative;
        top: -80px;
        left: 30px;
    }

    .divTextNave1 {
        width: 100%;
        position: relative;
        /* left: 85px; */
    }

    .textNaveMob {
        font-family: 'Gotham-book';
        font-size: 23px;
        width: 400px;
    }

    #textNave1Line2{
        position: relative;
        left: -20px;
    }

    #textNave1Line3 {
        position: relative;
        left: -40px;
    }

    #textNave1Line4 {
        position: relative;
        left: -60px;
    }

    #textNave1Line5 {
        position: relative;
        left: -80px;
    }

    #textNave1Line6 {
        position: relative;
        left: -100px;
    }

    #textNave1Line7 {
        position: relative;
        left: -120px;
    }

    #textNave1Line8 {
        position: relative;
        left: -140px;
    }

    #textNave1Line9 {
        position: relative;
        left: -160px;
    }

    .textNaveMobile1 {
        display: block;
        position: relative;
        left: 200px;
        top: 50px;
    }

    .divTextNave2 {
        position: relative;
        top: -10px;
        /* left: 85px; */
    }

    #textNave1, #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 23px;
    }

    .divTextNave3 {
        position: relative;
        top: -30px;
        left: -275px;
        width: 900px;
    }

    .divIconesNave {
        width: 113% !important;
        margin-top: 50px;
        position: relative;
        left: -207px;
        border: 3px solid grey;
        border-radius: 50px;
        padding: 50px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        position: relative;
        left: 0px;
        gap: 0 20px;
        margin-bottom: 20px;
    }

    .iconsNaveContainer {
        
        gap: 0;
    }

    .iconNave {
        width: 50%;
    }

    /* Icons Nave */
    #livre {
        content: url("./assets/Tablet/Icone-Livre_3.png");
    }

    #interface {
        content: url("./assets/Tablet/Icone-Interface_4.png");
    }

    #audioDescricao {
        content: url("./assets/Tablet/Icone-AudioDescricao_4.png");
    }

    #limpeza {
        content: url("./assets/tablet/Icone-Limpeza_4.png");
    }

    #offline {
        content: url("./assets/Tablet/Icone-Offline_4.png");
    }

    #braile {
        content: url("./assets/Tablet/Icone-brile_4.png");
    }

    #resistencia {
        content: url("./assets/Tablet/Icone-Resistencia_4.png");
    }

    #garantia {
        content: url("./assets/Tablet/Icone-Garantia_4.png");
    }

    #libras {
        content: url("./assets/Tablet/Icone_LIBRAS_4.png");
    }

    #touch {
        content: url("./assets/Tablet/Icone-Touch_4.png");
    }

    #ampliacao {
        content: url("./assets/Tablet/Icone-Ampliacao_4.png");
    }

    #naoToxico {
        content: url("./assets/Tablet/Icone-NaoToxico_3.png");
    }

    .textinNave {
        font-family: 'Gotham-book';
        width: 200px;
        margin-bottom: 0px;
    }

    /* Título Ambietnes */
    #tituloAmbientes {
        content: url("./assets/Tablet/Titulo2_2.png");
        padding: 30px 0 0 50px;
    }

    .planetasContainer {
        flex-direction: column;
        align-items: center;
        padding: 50px !important;
    }

    .divPrints {
        display: flex;
        padding: 50px 0px 0px 0px !important;
        gap: 10px;
    }

    .divSetasAmbientesMobile {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    .divTituloPlanetas {
        width: 100% !important;
        display: flex;
        align-items: center;
    }

    .divSetasAmbientesMobile {
        display: none;
    }

    .divSelo {
        position: relative;
        top: 100px;
        left: -300px;
    }

    .divBolinhasPlanetas {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .tituloMobile {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divGridGamesMobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px;
    }

    .prints {
        border-radius: 20px;
    }

    /* Selo */
    .seloMobile {
        width: 100%;
        height: 50px;
    }

    #selo {
        content: url("./assets/Tablet/Selo_3.png");
        max-width: 60%;
        position: relative;
        top: -50px;
        left: 100px !important;
    }

    .divCometa {
        display: none;
    }

    /* Titulo Vídeo */
    #tituloVideo {
        /* margin-left: 100px; */
        content: url("./assets/Tablet/Titulo4_1.png");
        width: 40%;
    }

    .acessibilidade {
        height: 990px;
    }

    #acessibilidade {
        content: url("./assets/Tablet/Titulo3_1.png");
    }

    .textAcessibilidade {
        font-size: 23px;
        margin-left: -10px;
    }

    .divTituloAcessibilidade {
        height: 60px !important;
    }

    .divTituloVideo {
        padding: 30px !important;
    }

    .divVideoContainer {
        position: relative;
        top: -100px;
    }

    /* Moldura Video */
    #molduraVideo {
        content: url("./assets/Tablet/GuiaAcessibilidade.png");
    }

    /* Video */
    .divVideo {
        position: relative;
        padding-bottom: 0% !important;
        height: 420px;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: 70px;
        top: 0px;
        width: 90%;
    }

    /* Sensor RFID */
    .sensorRfid {
        height: 940px;
        position: relative;
        top: -300px;
    }

    .divTextCardContainer {
        display: none !important;
    }

    .divTextCardContainerMobile {
        display: flex;
        flex-direction: column;
    }

    .divP1Sensor {
        width: 90% !important;
        margin-left: 50px !important;
    }

    /* Titulo Sensor RFID */
    #tituloSensor {
        content: url("./assets/Tablet/Sensor_2.png");
        padding: 50px;
    }

    .cards1 {
        position: relative;
        left: 350px;
    }

    .cards2 {
        margin-top: 50px;
        margin-left: 50px;
        display: none !important;
    }

    .textSensor {
        margin-left: 2px;
    }

    .textSensor, .textSensor2 {
        font-size: 23px;
    }

    .textSensor2 {
        position: relative;
        top: -280px !important;
        padding: 10px 0 0 85px;
        margin-left: 5px;
    }

    /* Cartas Sensor RFID */
    #cartaCores {
        content: url("./assets/Tablet/Cores_2.png");
        position: relative;
        left: 50px;
    }

    #cartaLetras {
        content: url("./assets/Tablet/Letras.png");
        position: relative;
        top: 60px;
        left: -30px;
    }

    #cartaNumeros {
        content: url("./assets/Tablet/Numeros_3.png");
        position: relative;
        top: 150px;
        left: -150px;
    }

    #lblCartaCores {
        position: relative;
        left: 25px;
        transform: rotate(-15deg);
    }

    #lblCartaLetras {
        position: relative;
        left: -22px;
        top: 72px;
        transform: rotate(5deg);
    }

    #lblCartaNumeros {
        position: relative;
        left: -117px;
        top: 180px;
        transform: rotate(25deg);
    }

    /* Nuvem footer sensor */
    .divFooterSensor {
        background: url("./assets/4K/Nuves2.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: -100px;
    }

    /* Mesa Sensor */
    #mesaSensor {
        content: url("./assets/Tablet/Mesa2.png");
        position: relative;
        top: -166px;
        left: 360px;
    }

    /* Carta Sensor */
    #cartaSensor {
        content: url("./assets/1440/versoCarta.png");
        display: none;
        left: 60px;
    }

    .formacaoProfessores {
        position: relative;
        top: -500px;
    }

    #formacaoProfessores {
        content: url("./assets/Tablet/Formacao_2.png");
        position: relative;
        top: 30px;
    }

    .textoFormacao {
        font-size: 23px;
    }

    #cartaEsquerda {
        display: none;
    }

    /* Catálogo de Jogos */
    #catalogosJogos {
        content: url("./assets/Tablet/Livro\ do\ professor.png");
        position: relative;
        left: 10px;
    }

    /* Catálogo Técnico */
    #catalogoTecnico {
        content: url("./assets/1440/livroProfessor2.png");
        display: none;
    }

    /* Formulário */

    .formContato {
        width: 100% !important;
    }

    .contato {
        position: relative;
        top: -500px;
    }

    .divMiguel {
        display: none;
    }

    .inputContato {
        height: 50px;
        border-radius: 20px;
        font-size: 30px;
        font-family: 'Gotham-book';
        padding-left: 20px;
    }

    .inputContato::placeholder {
        font-size: 23px;
        text-transform: uppercase;
    }
    
    #mensagem {
        font-size: 30px;
        font-family: 'Gotham-book';
        padding-left: 20px;
        border-radius: 20px;
    }

    #mensagem::placeholder {
        font-size: 25px;
        text-transform: uppercase;
    }

     /* Botão Enviar Formulário */
     #enviar {
        content: url("./assets/1440/Botao2_2.png");
    }

    #textoAmbiente {
        color: white;
        font-family: 'Gotham-book';
        font-size: 18px;
        margin-top: 10px;
    }

    .divAcessibilidadeContainer {
        padding: 30px 50px !important;
        top: 0 !important;
        margin-bottom: 50px;
    }
    
    .textoAcessibilidade {
        padding: 20px 0 0 50px !important;
    }

    .divFormulario {
        margin-bottom: 50px;
    }

    .textCaracteristicas {
        margin-top: 0px;
    }

    /* Seta Esquerda */
    #setaEsquerda {
        max-width: 50%;
        top: 18px;
    }

    /* Seta Direita */
    #setaDireita {
        max-width: 50%;
        top: 18px;
    }
}