@media (max-width: 770px) {

    .aspectStyles {
        font-size: 100% !important;
    }

    main {
        height: 880px;
    }

    /* Logo Educanave */
    #logoEducanave {
        content: url(./assets/Tablet/Logo-Nuvem-Mesa-tablet0.png);
        max-width: 101% !important;
        position: absolute;
        top: 30px;
        left: -4px;
    }

    /* Logo Cittius */
    #logoCittius {
        content: url("./assets/Tablet/Cittius_2.png");
        position: relative;
        top: 30px;
        left: 230px;
    }

    /* Botão Login */
    #botaoLogin {
        content: url("./assets/Tablet/Botao1.png");
        position: relative;
        top: 20px;
        left: -300px;
    }

    /* Nuvem */

    .divNuvem, .divMesaSolContainer {
        width: 25% !important;
    }


    #nuvem {
        content: url("./assets/Tablet/Nuvem1_1.png");
        position: relative;
        top: 20px;
    }

    /* Título Decolar */
    #decolar {
        content: url(./assets/Tablet/Decolar_4.png);
        max-width: 140%;
        position: relative;
        top: 6px;
    }

    /* Decolar Text 1 */
    .divDecolarText1 {
        width: 130%;
        top: -350px;
        left: 0px;
    }

    /* Decolar Text 2 */
    .divDecolarText2 {
        top: -480px;
        left: 50px;
        width: 120%;
    }

    #textDesktop {
        display: none;
    }

    #textMobile {
        display: block;
    }

    /* Decolar Texts */
    .textDecolar {
        padding-left: 20px;
        font-family: 'Gotham-medium';
        color: white;
    }

    /* Sol */
    #raioSol {
        content: url("./assets/1920/raioSol.png");
        display: none;
    }

    #sol {
        content: url("./assets/1440/Sol_1.png");
        display: none;
    }

    /* Mesa 1 */
    #mesa1 {
        content: url("./assets/Tablet/Mesa1_1.png");
        position: relative;
        top: 0px;
        left: -270px;
    }

    .tituloNave {
        height: 1200px;
    }

    .divTituloNave {
        position: relative;
        top: 50px;
    }

    /* Título Nave */
    #tituloNave {
        content: url("./assets/Tablet/Titulo1.png");
        max-width: 65%;
        padding-left: 230px;
        margin-top: 40px;
    }

    /* Dra. Ana */
    #drAna {
        content: url("./assets/Tablet/DrAna_3.png");
        max-width: 85%;
        position: relative;
        top: -76px !important;
        left: 44px;
    }

    .divTextNave1 {
        width: 100%;
        position: relative;
        /* left: 85px; */
    }

    .textNaveMob {
        font-family: 'Gotham-book';
        font-size: 23px;
        width: 400px;
    }

    #textNave1Line2{
        position: relative;
        left: -20px;
    }

    #textNave1Line3 {
        position: relative;
        left: -40px;
    }

    #textNave1Line4 {
        position: relative;
        left: -60px;
    }

    #textNave1Line5 {
        position: relative;
        left: -80px;
    }

    #textNave1Line6 {
        position: relative;
        left: -100px;
    }

    #textNave1Line7 {
        position: relative;
        left: -120px;
    }

    #textNave1Line8 {
        position: relative;
        left: -140px;
    }

    #textNave1Line9 {
        position: relative;
        left: -160px;
    }

    .textNaveMobile1 {
        display: block;
        position: relative;
        left: 200px;
        top: 50px;
    }

    .divTextNave2 {
        position: relative;
        top: -10px;
        /* left: 85px; */
    }

    #textNave1, #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 23px;
    }

    .divTextNave3 {
        position: relative;
        top: -30px;
        left: -275px;
        width: 800px;
    }

    #textNave3 {
        top: -20px;
    }

    .divIconesNave {
        width: 113% !important;
        margin-top: 50px;
        position: relative;
        left: -200px;
        border: 3px solid grey;
        border-radius: 50px;
        padding: 50px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        position: relative;
        left: 0px;
        gap: 0 20px;
        margin-bottom: 20px;
    }

    .iconsNaveContainer {
        
        gap: 0;
    }

    .iconNave {
        width: 50%;
    }

    /* Icons Nave */
    #livre {
        content: url("./assets/Tablet/Icone-Livre_3.png");
    }

    #interface {
        content: url("./assets/Tablet/Icone-Interface_4.png");
    }

    #audioDescricao {
        content: url("./assets/Tablet/Icone-AudioDescricao_4.png");
    }

    #limpeza {
        content: url("./assets/tablet/Icone-Limpeza_4.png");
    }

    #offline {
        content: url("./assets/Tablet/Icone-Offline_4.png");
    }

    #braile {
        content: url("./assets/Tablet/Icone-brile_4.png");
    }

    #resistencia {
        content: url("./assets/Tablet/Icone-Resistencia_4.png");
    }

    #garantia {
        content: url("./assets/Tablet/Icone-Garantia_4.png");
    }

    #libras {
        content: url("./assets/Tablet/Icone_LIBRAS_4.png");
    }

    #touch {
        content: url("./assets/Tablet/Icone-Touch_4.png");
    }

    #ampliacao {
        content: url("./assets/Tablet/Icone-Ampliacao_4.png");
    }

    #naoToxico {
        content: url("./assets/Tablet/Icone-NaoToxico_3.png");
    }

    .textinNave {
        font-family: 'Gotham-book';
        width: 200px;
        margin-bottom: 0px;
    }

    /* Título Ambietnes */
    #tituloAmbientes {
        content: url("./assets/Tablet/Titulo2_2.png");
        padding: 30px 0px 0px 50px;
    }

    .planetasContainer {
        flex-direction: column;
        align-items: center;
        padding: 50px !important;
    }

    .divPrints {
        display: flex;
        padding: 50px 0px 0px 0px !important;
        gap: 10px;
    }

    .divSetasAmbientesMobile {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    .divTituloPlanetas {
        width: 100% !important;
        display: flex;
        align-items: center;
    }

    .divSetasAmbientesMobile {
        display: none;
    }

    .divSelo {
        position: relative;
        top: 100px;
        left: -300px;
    }

    .divBolinhasPlanetas {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .tituloMobile {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divGridGamesMobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px;
    }

    .prints {
        border-radius: 20px;
    }

    /* Selo */
    .seloMobile {
        width: 100%;
        height: 50px;
    }

    #selo {
        content: url("./assets/Tablet/Selo_3.png");
        position: relative;
        top: -50px;
        left: 100px !important;
    }

    .divCometa {
        display: none;
    }

    /* Titulo Vídeo */
    #tituloVideo {
        content: url("./assets/Tablet/Titulo4_1.png");
        width: 40%;
        left: -170px !important;
    }

    .acessibilidade {
        height: 645px;
    }

    #acessibilidade {
        content: url("./assets/Tablet/Titulo3_1.png");
    }

    .textAcessibilidade {
        width: 90%;
        font-size: 23px;
    }

    .divTituloAcessibilidade {
        height: 60px !important;
    }

    .divTituloVideo {
        padding: 30px !important;
    }

    .divVideoContainer {
        position: relative;
        top: -100px;
    }

    /* Moldura Video */
    #molduraVideo {
        content: url("./assets/Tablet/GuiaAcessibilidade.png");
    }

    /* Video */
    .divVideo {
        position: relative;
        padding-bottom: 56.25%;
        height: 210px;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: 45px;
        top: 1px;
        width: 90%;
    }

    .divTextCardContainer {
        display: none !important;
    }

    .divTextCardContainerMobile {
        display: flex;
        flex-direction: column;
        background-position: center 450px;
    }

    .divP1Sensor {
        width: 800px !important;
        margin-left: 50px !important;
    }

    /* Titulo Sensor RFID */
    #tituloSensor {
        content: url("./assets/Tablet/Sensor_2.png");
        padding: 50px;
    }

    .cards1 {
        position: relative;
        top: -50px;
        left: 350px !important;
    }

    .cards2 {
        margin-top: 50px;
        margin-left: 50px;
        display: none !important;
    }

    .textSensor {
        width: 700px;
    }

    .textSensor, .textSensor2 {
        font-size: 23px;
    }

    .textSensor2 {
        padding: 10px 0 0 70px;
        position: relative;
        top: 150px !important;
        left: 18px;
    }

    /* Cartas Sensor RFID */
    #cartaCores {
        content: url("./assets/Tablet/Cores_2.png");
        max-width: 100%;
        position: relative;
        left: 50px;
    }

    #cartaLetras {
        content: url("./assets/Tablet/Letras.png");
        max-width: 100%;
        position: relative;
        top: 60px;
        left: -20px !important;
    }

    #cartaNumeros {
        content: url("./assets/Tablet/Numeros_3.png");
        max-width: 100%;
        position: relative;
        top: 150px;
        left: -120px !important;
        z-index: 2;
    }

    #lblCartaCores {
        font-size: 100%;
        position: relative;
        top: 20px;
        left: 30px !important;
        transform: rotate(-15deg);
    }

    #lblCartaLetras {
        font-size: 100%;
        left: -18px !important;
        top: 65px !important;
        transform: rotate(5deg);
    }

    #lblCartaNumeros {
        font-size: 100%;
        position: relative;
        left: -80px !important;
        top: 175px !important;
        transform: rotate(25deg);
    }

    /* Nuvem footer sensor */
    .divFooterSensor {
        background: url(./assets/4K/Nuves2.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: -60px !important;
    }

    /* Mesa Sensor */
    #mesaSensor {
        content: url("./assets/Tablet/Mesa2.png");
        position: relative;
        top: -178px !important;
        left: 383px !important;
    }

    #mesaSensorMobile {
        top: 0px;
        left: 30px;
    }

    /* Carta Sensor */
    #cartaSensor {
        content: url("./assets/1440/versoCarta.png");
        display: none;
    }

    #formacaoProfessores {
        content: url("./assets/Tablet/Formacao_2.png");
        position: relative;
        top: 30px;
    }

    .textoFormacao {
        font-size: 16px !important;
    }

    #cartaEsquerda {
        display: none;
    }

    /* Catálogo de Jogos */
    #catalogosJogos {
        content: url("./assets/Tablet/Livro\ do\ professor.png");
        position: relative;
        left: 45px;
    }

    /* Catálogo Técnico */
    #catalogoTecnico {
        content: url("./assets/1440/livroProfessor2.png");
        display: none;
    }

    /* Formulário */

    .formContato {
        width: 100% !important;
    }

    .contato {
        height: 920px;
        position: relative;
        top: -500px;
    }

    .divMiguel {
        display: none;
    }

    .inputContato {
        height: 50px;
        border-radius: 20px;
        font-size: 30px;
        font-family: 'Gotham-book';
        padding-left: 20px;
    }

    .inputContato::placeholder {
        font-size: 23px;
        text-transform: uppercase;
    }
    
    #mensagem {
        font-size: 30px;
        font-family: 'Gotham-book';
        padding-left: 20px;
        border-radius: 20px;
    }

    #mensagem::placeholder {
        font-size: 25px;
        text-transform: uppercase;
    }

     /* Botão Enviar Formulário */
     #enviar {
        content: url("./assets/1440/Botao2_2.png");
    }

    #textoAmbiente {
        color: white;
        font-family: 'Gotham-book';
        font-size: 18px;
        margin-top: 10px;
    }

    .divAcessibilidadeContainer {
        padding: 30px 50px !important;
        top: 0 !important;
        margin-bottom: 50px;
    }
    
    .textoAcessibilidade {
        padding: 20px 0 0 50px !important;
        width: 95% !important;
    }

    .divFormulario {
        margin-bottom: 50px;
        margin-left: 70px;
    }
}

@media (max-width: 542px) {

    main {
        height: 575px;
    }

    .topBar {
        height: 70px;
    }

    #botaoLogin {
        content: url(./assets/Celular/Botao_1.png);
        position: relative;
        top: 20px;
        left: -200px;
    }

    #logoCittius {
        content: url(./assets/Celular/cittius.png);
        position: relative;
        top: 25px;
        left: 200px;
    }

    #logoEducanave {
        top: 20px;
        left: 0px;
    }

    #decolar {
        top: 0px;
    }

    .divDecolarText1 {
        top: -450px;
    }

    .divDecolarText2 {
        top: -600px;
    }

    .tituloNave {
        height: 1050px;
    }

    #tituloNave {
        padding-left: 127px;
    }

    .divTextoNave {
        top: -40px;
    }

    .textNave {
        max-width: 100% !important;
        width: 100%;
        left: 30px;
    }

    .divTextNave3 {
        position: relative;
        top: -50px;
        left: -170px;
        width: 500px;
    }

    #textNave3 {
        width: 95%;
        top: -5px;
    }

    #drAna {
        top: -10px !important;
    }

    .divIconesNave {
        width: 100% !important;
        top: 65px;
        left: -130px;
        padding: 40px 50px 25px;
    }

    #livre {
        content: url("./assets/Celular/Icone-Livre_4.png");
    }

    #interface {
        content: url("./assets/Celular/Icone-Interface_5.png");
    }

    #audioDescricao {
        content: url("./assets/Celular/Icone-AudioDescricao_5.png");
    }

    #limpeza {
        content: url("./assets/Celular/Icone-Limpeza_5.png");
    }

    #offline {
        content: url("./assets/Celular/Icone-Offline_5.png");
    }

    #braile {
        content: url("./assets/Celular/Icone-brile_5.png");
    }

    #resistencia {
        content: url("./assets/Celular/Icone-Resistencia_5.png");
    }

    #garantia {
        content: url("./assets/Celular/Icone-Garantia_5.png");
    }

    #libras {
        content: url("./assets/Celular/Icone_LIBRAS_5.png");
    }

    #touch {
        content: url("./assets/Celular/Icone-Touch_5.png");
    }

    #ampliacao {
        content: url("./assets/Celular/Icone-Ampliacao_5.png");
    }

    #naoToxico {
        content: url("./assets/Celular/Icone-NaoToxico_4.png");
    }

    .textCaracteristicas {
        font-size: 10px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 0px;
        margin-bottom: 15px;
    }

    .iconNave {
        width: 21%;
        position: relative;
        left: 20px;
    }

    .textinNave {
        width: 125px;
        position: relative;
        left: 25px;
    }

    .acessibilidade {
        height: 555px !important;
    }

    #selo {
        left: 170px !important;
    }

    #tituloVideo {
        left: -60px !important;
    }

    #tituloSensor {
        padding: 30px 50px;
    }

    .divP1Sensor {
        width: 500px !important;
    }

    .textSensor2 {
        max-width: 90% !important;
        width: 200px;
        padding: 10px 0 0 90px;
        position: relative;
        top: -250px !important;
        left: -1px !important;
    }

    #catalogosJogos {
        left: 50px !important;
    }

    .cards1 {
        left: 310px !important;
    }

    .divFooterSensor {
        top: -210px !important;
    }

    #mesaSensor {
        top: -59px !important;
        left: 305px !important;
    }

    #mesaSensorMobile {
        top: 20px;
        left: 73px;
    }


    #formacaoProfessores {
        width: 75%;
        margin-left: 20px;
    }

    .textoFormacao {
        font-size: 16px !important;
        left: 45px;
    }

    .listaFormacao {
        margin-left: 25px !important;
    }

    .divLivros {
        margin-top: 10px !important;
    }

    .divContainerContato {
        width: 70% !important;
    }

    #logoCittiusForm {
        left: 30px;
    }

    .divFormulario {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .contato {
        height: 850px;
    }

    .inputContato {
        font-size: 22px;
    }

    .inputContato::placeholder {
        font-size: 18px;
    }

    #mensagem {
        font-size: 22px;
    }

    #mensagem::placeholder {
        font-size: 18px;
    }

    .textAcessibilidade {
        width: 88%;
    }

}

@media (max-width: 458px){

    body {
        height: 4500px !important;
    }

    main {
        height: 470px;
    }

    #logoCittius {
        content: url(./assets/Celular/cittius.png);
        position: relative;
        top: 24px;
        left: 160px;
    }

    #botaoLogin {
        content: url(./assets/Celular/Botao_1.png);
        position: relative;
        top: 20px;
        left: -160px;
    }

    .divDecolarText1 {
        top: -490px;
    }

    .divDecolarText2 {
        top: -655px;
    }

    .textDecolar {
       font-size: 12px !important;
    }

    #textNave1, #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 12px !important;
    }

    .divTextNave2 {
        top: 0px;
    }

    .divTextNave3 {
        position: relative;
        top: -20px;
        left: -140px;
        width: 400px;
    }

    #textNave3 {
        top: -27px;
    }

    #textoAmbiente {
        font-size: 10px !important;
    }

    .divTextCardContainerMobile {
        height: 666px;
        display: flex;
        flex-direction: column;
        background-position: center 597px;
    }

    .divIconesNave {
        top: -20px;
        left: -118px;
    }

    .tituloNave {
        height: 850px;
    }

    #tituloNave {
        padding-left: 110px;
    }

    .textAcessibilidade {
        font-size: 11px !important;
    }

    .acessibilidade {
        height: 470px !important;
    }

    .sensorRfid {
        height: 840px;
    }

    .divP1Sensor {
        width: 400px !important;
    }

    .textSensor, .textSensor2 {
        font-size: 12px !important;
    }

    .cards1 {
        left: 140px !important;
        top: -71px;
    }

    #mesaSensorMobile {
        top: 5px;
        left: -25px;
    }

    .textSensor2 {
        max-width: 150% !important;
        width: 260px;
        padding: 10px 0 0 90px;
        position: relative;
        top: 190px !important;
        left: -1px !important;
    }

    .divFooterSensor {
        top: -126px !important;
    }

    #lblCartaNumeros {
        font-size: 100%;
        position: relative;
        left: -88px !important;
        top: 175px !important;
        transform: rotate(25deg);
    }

    #formacaoProfessores {
        content: url(./assets/Tablet/Formacao_2.png);
        position: relative;
        top: 0px;
        width: 90%;
    }

    .textoFormacao {
        top: -40px;
        left: 40px;
        font-size: 12px !important;
    }

    #catalogosJogos {
        content: url(./assets/Tablet/Livro\ do\ professor.png);
        position: relative;
        left: -15px;
    }


}

@media (max-width: 432px) {

    body {
        height: 3650px !important;
    }

    main {
        height: 430px;
    }

    .topBar {
        height: 60px;
    }

    #botaoLogin {
        content: url(./assets/Celular/Botao_1.png);
        position: relative;
        top: 13px;
        left: -140px;
    }

    #logoCittius {
        content: url(./assets/Celular/cittius.png);
        position: relative;
        top: 17px;
        left: 145px;
    }

    #logoEducanave {
        top: 20px;
    }

    #decolar {
        top: 0px;
    }

    .divDecolarText1 {
        top: -496px;
    }

    .divDecolarText2 {
        top: -660px;
    }

    .textDecolar {
        padding-left: 5px;
        font-size: 75% !important;
    }

    .tituloNave {
        height: 790px;
    }
    
    #tituloNave {
        position: relative;
        top: 25px;
        padding-left: 125px;
    }

    #drAna {
        top: -40px !important;
    }

    .divTextNave1 {
        width: 100%;
        position: relative;
        top: 60px;
        left: -10px;
    }

    .divTextNave2 {
        position: relative;
        top: 50px;
        left: -10px;
    }

    .divTextNave3 {
        top: 30px;
        left: -135px;
    }

    #textNave1 {
        top: -50px;
        left: 40px;
        font-size: 10px !important;
    }

    #textNave2 {
        top: -50px;
        left: 40px;
        font-size: 10px !important;
    }

    #textNave3 {
        width: 95%;
        top: -60px;
        left: 24px;
        font-size: 10px !important;
    }

    .divIconesNave {
        width: 100% !important;
        top: -50px;
        left: -116px;
        padding: 35px 50px 25px 50px;
    }

    #livre {
        content: url("./assets/Celular/Icone-Livre_4.png");
    }

    #interface {
        content: url("./assets/Celular/Icone-Interface_5.png");
    }

    #audioDescricao {
        content: url("./assets/Celular/Icone-AudioDescricao_5.png");
    }

    #limpeza {
        content: url("./assets/Celular/Icone-Limpeza_5.png");
    }

    #offline {
        content: url("./assets/Celular/Icone-Offline_5.png");
    }

    #braile {
        content: url("./assets/Celular/Icone-brile_5.png");
    }

    #resistencia {
        content: url("./assets/Celular/Icone-Resistencia_5.png");
    }

    #garantia {
        content: url("./assets/Celular/Icone-Garantia_5.png");
    }

    #libras {
        content: url("./assets/Celular/Icone_LIBRAS_5.png");
    }

    #touch {
        content: url("./assets/Celular/Icone-Touch_5.png");
    }

    #ampliacao {
        content: url("./assets/Celular/Icone-Ampliacao_5.png");
    }

    #naoToxico {
        content: url("./assets/Celular/Icone-NaoToxico_4.png");
    }

    .textCaracteristicas {
        font-size: 10px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 0px;
        margin-bottom: 15px;
    }

    .iconNave {
        width: 21%;
        position: relative;
        left: 20px;
    }

    .textinNave {
        width: 125px;
        position: relative;
        left: 25px;
    }

    
    #tituloAmbientes {
        content: url(./assets/Celular/Titulo2_3.png);
        padding: 30px 0px 0px 30px;
    }

    .planetasContainer {
        padding: 20px !important;
    }

    .divPrints {
        padding: 30px 0px 0px 0px !important;
        position: relative;
        left: -14px;
    }

    #textoAmbiente {
        font-size: 10px !important;
        margin-top: 0px;
        padding: 10px 0px;
    }

    #setaEsquerda {
        left: 25px;
    }

    #setaDireita {
        left: -25px;
    }

    #selo {
        content: url(./assets/Celular/Selo_4.png);
        position: relative;
        top: -55px;
        left: 200px !important;
    }

    .acessibilidade {
        height: 440px !important;
    }

    .divAcessibilidadeContainer {
        padding: 20px 25px !important;
        top: 0 !important;
        margin-bottom: 50px;
    }

    #acessibilidade {
        content: url(./assets/Celular/Titulo3_2.png);
    }

    .textAcessibilidade {
        font-size: 10px !important;
    }

    .textoAcessibilidade {
        padding: 10px 0 0 35px !important;
    }

    .divVideoContainer {
        top: -90px;
    }

    #tituloVideo {
        content: url(./assets/Celular/Titulo4_2.png);
        left: -120px !important;
    }

    .divVideo video {
        left: -6px;
        top: -25px;
        width: 103%;
    }

    #tituloSensor {
        content: url(./assets/Celular/Sensor_4.png);
        padding: 25px 0px 10px 25px;
    }

    .divP1Sensor {
        margin-left: 15px !important;
        margin-bottom: 20px;
    }

    .textSensor, .textSensor2 {
        font-size: 10px !important;
    }

    .textSensor2 {
        padding: 10px 0 0 70px;
        position: relative;
        top: 130px !important;
        width: 150% !important;
    }

    .divCardSensor {
        width: 100% !important;
        padding: 0px !important;
        left: 0px !important;
    }

    .cards1 {
        top: 0px;
        left: 60px !important;
    }

    #lblCartaCores {
        top: -20px;
    }

    #cartaCores {
        content: url(./assets/Celular/Cores_3.png);
        top: -40px;
    }

    #lblCartaLetras {
        top: 9px !important;
        left: -15px !important;
    }

    #cartaLetras {
        content: url(./assets/Celular/Letras_1.png);
        top: 0px;
    }

    #lblCartaNumeros {
        top: 73px !important;
        left: -88px !important;
    }

    #cartaNumeros {
        content: url(./assets/Celular/Numeros_4.png);
        top: 50px;
    }

    .divTextSensor {
        width: 100% !important;
        margin-top: 50px;
    }

    .divFooterSensor {
        height: 100px;
        top: 10px !important;
    }

    #mesaSensor {
        content: url(./assets/Tablet/Mesa2.png);
        display: none;
    }

    #formacaoProfessores {
        content: url(./assets/Celular/Formacao_3.png);
    }

    .textoFormacao {
        font-size: 10px !important;
        margin-bottom: 5px;
        left: 24px;
    }

    .divTexto {
        margin-top: 40px !important;
        margin-left: -55px;
    }

    .listaFormacao {
        margin-left: 20px !important;
    }

    .divLivros {
        margin-top: 20px !important;
    }

    .contato {
        height: 560px;
    }

    .divContainerContato {
        width: 100% !important;
        padding: 10px 0px !important;
        position: relative;
        left: 0px;
    }

    .divFormulario {
        margin: 0px;
        padding: 20px;
    }

    .divLogoCittiusForm {
        padding: 20px 0px !important;
    }

    #logoCittiusForm {
        content: url(./assets/4K/Cittius.png);
        max-width: 50%;
        position: relative;
        left: 85px;
    }

    .textoForm {
        font-size: 10px !important;
    }

    .formContato {
        width: 90% !important;
    }

    .inputContato {
        height: 35px;
        font-size: 12px;
        padding-left: 12px;
    }

    #mensagem {
        font-size: 12px;
        padding-left: 12px;
    }

    .inputContato::placeholder{
        font-size: 12px;
    }

    #mensagem::placeholder{
        font-size: 12px;
    }

    #enviar {
        content: url(./assets/Celular/Botao2_1.png);
    }

    #catalogosJogos {
        top: -20px;
        left: 45px !important;
    }

    .sensorRfid {
        height: 590px;
    }

    #mesaSensorMobile {
        top: 25px;
    }
}