@media (max-width: 427px) {

    body {
        height: 4000px !important;
    }

    .aspectStyles {
        font-size: 70% !important;
    }

    main {
        width: 475px !important;
        height: 550px;
    }

    .header {
        width: 475px !important;
    }

    .topBar {
        width: 100%;
        height: 60px;
        background-image: url("./assets/Celular/Borda_3.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    /* Logo Educanave */
    #logoEducanave {
        content: url("./assets/Tablet/Logo-Nuvem-Mesa-tablet0.png");
        max-width: 475px !important;
        position: absolute;
        top: 20px;
        left: -2px;
    }

    #logoEducanave {
        width: 415px !important;
    }

    .divLogoEducanave, .divBtnLogin, .divNuvem, .divMesaSolContainer {
        width: 25% !important;
    }

    .divLogoEducanave {
        width: 27% !important;
    }

    .divNuvem {
        width: 20% !important;
    }

    .divTituloDecolar {
        height: 11% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divDecolarText1, .divDecolarText2 {
        height: 10% !important;
        top: 0px !important;
    }

    /* Logo Cittius */
    #logoCittius {
        content: url("./assets/Celular/cittius.png");
        position: relative;
        top: 20px;
        left: 130px;
    }

    /* Botão Login */
    #botaoLogin {
        content: url("./assets/Celular/Botao_1.png");
        position: relative;
        top: 15px;
        left: -136px;
    }

    /* Nuvem */
    #nuvem {
        content: url("./assets/Celular/Nuvem1_2.png");
        position: relative;
        top: 20px;
    }

    /* Título Decolar */
    #decolar {
        content: url("./assets/Celular/Decolar_5.png");
        position: relative;
        top: -20px;
        left: 0px;
    }

    /* Decolar Text 1 */
    .divDecolarText1 {
        width: 130%;
        top: -460px;
        left: 0px;
    }

    /* Decolar Text 2 */
    .divDecolarText2 {
        top: -650px;
        left: 30px;
        width: 120%;
    }

    #textDesktop {
        display: none;
    }

    #textMobile {
        display: block;
        width: 195px !important;
    }

    /* Decolar Texts */
    .textDecolar {
        width: 220px !important;
        padding-left: 20px;
        font-family: 'Gotham-medium';
        color: white;
    }

    /* Sol */
    #sol {
        content: url("./assets/1440/Sol_1.png");
        display: none;
    }

    /* Mesa 1 */
    #mesa1 {
        content: url("./assets/Celular/Mesa1_2.png");
        position: relative;
        top: -200px;
        left: -150px;
    }

    .tituloNave {
        height: 1110px;
    }

    .divTituloNave {
        height: 50px !important;
        position: relative;
        top: 50px;
    }

    /* Título Nave */
    #tituloNave {
        content: url("./assets/Celular/Titulo1_1.png");
        padding-left: 100px;
        margin-top: -50px;
    }

    /* Dra. Ana */
    #drAna {
        content: url("./assets/Celular/Dr\ Ana_1.png");
        max-width: 150px;
        position: relative;
        top: 20px !important;
        left: 5px;
    }

    .textNave {
        width: 100% !important;
        margin-top: 0px !important;
    }

    .divTexto {
        margin-top: 10px !important;
        justify-content: start;
    }

    .divTextoNave {
        height: 100% !important;
    }

    .divTextNave1 {
        width: 80%;
        position: relative;
        top: 156px;
        left: -15px;
    }

    #textNave1 {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        left: 50px;
    }

    #textNave2 {
        left: 86px;
    }

    .textNaveMob {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        width: 400px;
    }

    #textNave1Line1 {
        position: relative;
        top: -40px;
        left: -120px;
    }

    #textNave1Line2{
        position: relative;
        top: -40px;
        left: -150px;
    }

    #textNave1Line3 {
        position: relative;
        top: -40px;
        left: -160px;
    }

    #textNave1Line4 {
        position: relative;
        top: -40px;
        left: -170px;
    }

    #textNave1Line5 {
        position: relative;
        top: -40px;
        left: -180px;
    }

    #textNave1Line6 {
        position: relative;
        top: -40px;
        left: -190px;
    }

    #textNave1Line7 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    #textNave1Line8 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    #textNave1Line9 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    .textNaveMobile1 {
        display: none;
        position: relative;
        left: 200px;
        top: 50px;
    }

    .divTextNave2 {
        position: relative;
        top: 180px;
        left: -50px;
        height: 430px;
    }

    #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 12px !important;
    }

    .divTextNave3 {
        width: 140%;
        position: relative;
        top: -65px;
        left: -106px;
        margin-top: 0;
    }

    #textNave3 {
        max-width: 139%;
        position: relative;
        left: 21px;
    }

    .divIconesNave {
        width: 113% !important;
        margin-top: 0px;
        margin-bottom: 60px;
        position: relative;
        top: -160px;
        left: -112px;
        border: 3px solid grey;
        border-radius: 50px;
        padding: 30px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 30px;
        margin-bottom: 15px;
    }

    .iconNave {
        width: 40%;
        position: relative;
        left: 0px;
    }

    .textinNave {
        left: 0px;
    }

    .iconsNaveContainer {
        flex-direction: column;
        gap: 5px;
    }

    /* Icons Nave */
    #livre {
        content: url("./assets/Celular/Icone-Livre_4.png");
    }

    #interface {
        content: url("./assets/Celular/Icone-Interface_5.png");
    }

    #audioDescricao {
        content: url("./assets/Celular/Icone-AudioDescricao_5.png");
    }

    #limpeza {
        content: url("./assets/Celular/Icone-Limpeza_5.png");
    }

    #offline {
        content: url("./assets/Celular/Icone-Offline_5.png");
    }

    #braile {
        content: url("./assets/Celular/Icone-brile_5.png");
    }

    #resistencia {
        content: url("./assets/Celular/Icone-Resistencia_5.png");
    }

    #garantia {
        content: url("./assets/Celular/Icone-Garantia_5.png");
    }

    #libras {
        content: url("./assets/Celular/Icone_LIBRAS_5.png");
    }

    #touch {
        content: url("./assets/Celular/Icone-Touch_5.png");
    }

    #ampliacao {
        content: url("./assets/Celular/Icone-Ampliacao_5.png");
    }

    #naoToxico {
        content: url("./assets/Celular/Icone-NaoToxico_4.png");
    }

    .textinNave {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        margin-left: 0px;
        width: 80px;
    }

    /* Título Ambietnes */
    #tituloAmbientes {
        content: url("./assets/Celular/Titulo2_3.png");
        padding: 20px 0 0 30px;
    }

    .planetasContainer {
        padding: 20px !important;
    }

    .planetas {
        width: 12% !important;
    }

    .divPrints {
        padding: 25px !important;
        justify-content: center;
        left: 0px;
    }

    .divPrintsMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prints {
        border-radius: 10px !important;
    }

    .setaEsquerda, .setaDireita {
        display: flex;
    }

    /* Seta Esquerda */
    #setaEsquerda {
        max-width: 50%;
        left: 30px;
        top: 10px;
    }

    /* Seta Direita */
    #setaDireita {
        left: -30px;
        max-width: 50%;
        top: 10px;
    }

    .divBolinhasPlanetas {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .tituloMobile {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divGridGamesMobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px;
    }

    .prints {
        border-radius: 20px;
    }

    .ambienteText {
        font-size: 10px;
    }

    .divTituloPlanetas {
        height: 100px !important;
    }

    /* Selo */
    #seloMobile {
        width: 25%;
        position: relative;
        top: 50px;
        left: 300px;
        animation: floatMobile 5s ease-in-out infinite;
    }

    #selo {
        content: url("./assets/Celular/Selo_4.png");
        max-width: 80%;
        position: relative;
        top: -60px;
        left: 200px !important;
        animation: floatMobile 5s ease-in-out infinite;
    }


    .divCometa {
        display: none;
    }

    .acessibilidade {
        position: relative;
        top: -150px;
        height: 220px !important;
    }

    #acessibilidade {
        content: url("./assets/Celular/Titulo3_2.png");
        position: relative;
        left: 5px;
    }

    .divTituloAcessibilidade {
        height: 0px !important;
    }


    .textAcessibilidade {
        width: 100%;
        font-size: 12px !important;
        position: relative;
        top: -15px;
        left: -40px;
    }

    .divTituloVideo {
        padding: 10px !important;
    }

    /* Moldura Video */
    #molduraVideo {
        content: url("./assets/Celular/GuiaAcessibilidade_1.png");
    }

    /* Video */
    .divVideo {
        position: relative;
        padding-bottom: 65.25% !important;
        height: 800px;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: 0px;
        top: 0px !important;
        width: 100%;
    }

    /* Titulo Sensor RFID */
    #tituloSensor {
        content: url("./assets/Celular/Sensor_4.png");
        padding: 25px 0px 10px 30px;
    }

    .divP1Sensor {
        margin-left: -3px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .cards1 {
        position: relative;
        top: -10px;
        left: 20px !important;
    }

    .cards2 {
        margin-top: 50px;
        margin-left: 50px;
        display: none !important;
    }

    .textSensor {
        position: relative;
        left: 7px;
        margin-left: -29px;
    }

    .textSensor, .textSensor2 {
        font-size: 12px !important;
    }

    .textSensor2 {
        position: relative;
        top: 200px !important;
        width: 150%;
        margin-bottom: 50px;
    }

    .divCardSensor {
        padding: 20px !important;
    }

    /* .divTextSensor {
        width: 80% !important;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 45px;
    } */

    /* Cartas Sensor RFID */
    #cartaCores {
        content: url("./assets/Tablet/Cores_2.png");
        max-width: 100%;
        position: relative;
        left: 50px;
    }

    #cartaLetras {
        content: url("./assets/Tablet/Letras.png");
        max-width: 100%;
        position: relative;
        top: 50px;
        left: 90px;
    }

    #cartaNumeros {
        content: url("./assets/Tablet/Numeros_3.png");
        max-width: 100%;
        position: relative;
        top: 150px;
        left: -5px;
    }

    #lblCartaCores {
        font-size: 100%;
        position: relative;
        top: -20px;
        left: 132px;
        transform: rotate(-15deg);
    }

    #lblCartaLetras {
        font-size: 100%;
        position: relative;
        left: 95px;
        top: 60px !important;
        transform: rotate(5deg);
    }

    #lblCartaNumeros {
        font-size: 90%;
        position: relative;
        left: 25px;
        top: 170px !important;
        transform: rotate(25deg);
    }

    /* Nuvem footer sensor */
    .divFooterSensor {
        background: url("./assets/4K/Nuves2.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 15px !important;
        height: 100px;
    }

    /* Mesa Sensor */

    .divMesaSensor {
        display: none;
    }

    #mesaSensor {
        content: url("./assets/Tablet/Mesa2.png");
        position: relative;
        top: -250px;
        left: 400px;
    }

    /* Carta Sensor */
    #cartaSensor {
        content: url("./assets/1440/versoCarta.png");
        display: none;
    }

    #formacaoProfessores {
        content: url(./assets/Celular/Formacao_3.png);
        position: relative;
        top: 10px;
        left: 9px;
    }

    .textoFormacao {
        top: 0px;
        left: 85px !important;
        font-size: 12px !important;
    }

    .textoFormacao {
        font-size: 12px !important;
        margin-left: 12px;
    }

    .textoForm {
        font-size: 12px !important;
        text-align: center;
    }

    .listaFormacao {
        margin-left: 0px !important;
        position: relative;
        left: -15px;
    }

    /* Catálogo de Jogos */
    #catalogosJogos {
        content: url(./assets/Celular/LivroProfessor.png);
        position: relative;
        top: -15px;
        left: 45px !important;
    }

    /* Catálogo Técnico */
    #catalogoTecnico {
        content: url("./assets/1440/livroProfessor2.png");
        display: none;
    }

    .contato {
        position: relative;
        top: -900px;
    }

    .divContainerContato {
        padding: 10px 0px 0px 0px !important;
        width: 100% !important;
        margin: 0;
        left: -3px;
    }

    .divMiguel {
        display: none;
    }

    #logoCittiusForm {
        content: url("./assets/Celular/cittius.png");
        left: -7px;
        max-width: 100%;
    }

    .divLogoCittiusForm {
        padding: 20px !important;
    }

    .inputContato {
        border-radius: 20px;
        font-size: 12px;
        font-family: 'Gotham-book';
        padding-left: 20px;
        height: 25px !important;
    }

    .inputContato::placeholder {
        font-size: 12px;
    }
    
    #mensagem {
        font-size: 12px;
        font-family: 'Gotham-book';
        padding: 10px 20px;
        border-radius: 20px;
    }

    #mensagem::placeholder {
        font-size: 12px;
    }

     /* Botão Enviar Formulário */
     #enviar {
        content: url("./assets/Celular/Botao2_1.png");
    }

    #textoAmbiente {
        color: white;
        font-family: 'Gotham-book';
        font-size: 12px !important;
        margin-top: 10px;
    }

    .ambientes {
        position: relative;
        top: -200px;
    }

    .divFormulario {
        margin-bottom: 30px;
        margin-left: 0px;
        width: 80% !important;
    }

    .textCaracteristicas {
        position: relative;
        left: -25px;
        width: 90px;
    }

    #tituloPlaneta {
        position: relative;
        top: 20px;
    }

    .divOpcoesFormacao {
        margin-left: -15px !important;
    }

    .divAcessibilidadeContainer  {
        width: 88% !important;
    }

    .textoAcessibilidade {
        padding: 20px 0 0 80px !important;
    }

    #tituloVideo {
        content: url(./assets/Celular/Titulo4_2.png);
        width: 70% !important;
        margin-left: 50px;
        left: -89px !important;
    }

    .divTexto p {
        position: relative;
        left: 45px;
    }

    .sensorRfid {
        height: 720px !important;
    }

    #mesaSensorMobile {
        top: 95px;
    }

    .divTextCardContainerMobile {
        background: none;
    }

    .sensorRfid {
        height: 780px !important;
    }
}

@media (max-width: 413px) {

    main {
        height: 530px;
    }

    #logoEducanave {
        width: 400px;
    }

    #decolar {
        top: -10px;
    }

    .divDecolarText1, .divDecolarText2 {
        top: 15px !important;
    }

    #textNave1 {
        position: relative;
        left: 60px;
    }

    #textNave2 {
        width: 94% !important;
        position: relative;
        top: -63px;
        left: 97px;
    }

    #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 12px !important;
    }

    #textNave3 {
        top: -80px;
    }

    .divIconesNave {
        left: -110px;
    }

    .divPrints {
        left: 0px;
    }

    #tituloSensor {
        padding: 10px 0px 10px 30px;
    }

    .textSensor {
        position: relative;
        left: 10px;
    }

    #formacaoProfessores {
        left: -13px;
    }

    .textoFormacao {
        left: 60px !important;
    }

    .divTexto p {
        position: relative;
        left: 45px;
    }

    #tituloVideo {
        left: -76px !important;
    }

    #catalogosJogos {
        left: 45px !important;
    }

    #mesaSensorMobile {
        top: 95px !important;
    }

    /* .sensorRfid {
        height: 778px !important;
    } */
}