@media (max-width: 395px) {

    body {
        height: 4000px !important;
    }

    .aspectStyles {
        font-size: 70% !important;
    }

    main {
        width: 475px !important;
        height: 500px;
    }

    .header {
        width: 475px !important;
    }

    .topBar {
        width: 100%;
        height: 60px;
        background-image: url("./assets/Celular/Borda_3.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    /* Logo Educanave */
    #logoEducanave {
        content: url("./assets/Tablet/Logo-Nuvem-Mesa-tablet0.png");
        max-width: 475px !important;
        position: absolute;
        top: 10px;
        left: -2px;
    }

    #logoEducanave {
        width: 395px !important;
    }

    .divLogoEducanave, .divBtnLogin, .divNuvem, .divMesaSolContainer {
        width: 25% !important;
    }

    .divLogoEducanave {
        width: 27% !important;
    }

    .divNuvem {
        width: 20% !important;
    }

    .divTituloDecolar {
        height: 11% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divDecolarText1, .divDecolarText2 {
        height: 10% !important;
        top: 0px !important;
    }

    /* Logo Cittius */
    #logoCittius {
        content: url("./assets/Celular/cittius.png");
        position: relative;
        top: 20px;
        left: 130px;
    }

    /* Botão Login */
    #botaoLogin {
        left: -142px;
    }

    /* Nuvem */
    #nuvem {
        content: url("./assets/Celular/Nuvem1_2.png");
        position: relative;
        top: 20px;
    }

    /* Título Decolar */
    #decolar {
        content: url("./assets/Celular/Decolar_5.png");
        position: relative;
        top: -20px;
        left: 0px;
    }

    /* Decolar Text 1 */
    .divDecolarText1 {
        width: 130%;
        top: -460px;
        left: 0px;
    }

    /* Decolar Text 2 */
    .divDecolarText2 {
        top: -650px;
        left: 30px;
        width: 120%;
    }

    #textDesktop {
        display: none;
    }

    #textMobile {
        display: block;
        width: 195px !important;
    }

    /* Decolar Texts */
    .textDecolar {
        width: 220px !important;
        padding-left: 10px;
        font-family: 'Gotham-medium';
        color: white;
    }

    /* Sol */
    #sol {
        content: url("./assets/1440/Sol_1.png");
        display: none;
    }

    /* Mesa 1 */
    #mesa1 {
        content: url("./assets/Celular/Mesa1_2.png");
        position: relative;
        top: -200px;
        left: -150px;
    }

    .tituloNave {
        height: 1070px;
    }

    .divTituloNave {
        height: 50px !important;
        position: relative;
        top: 50px;
    }

    /* Título Nave */
    #tituloNave {
        content: url("./assets/Celular/Titulo1_1.png");
        padding-left: 100px;
        margin-top: -50px;
        position: relative;
        top: -5px;
    }

    /* Dra. Ana */
    #drAna {
        content: url("./assets/Celular/Dr\ Ana_1.png");
        max-width: 150px;
        position: relative;
        top: 20px !important;
        left: 5px;
    }

    .textNave {
        width: 100% !important;
        margin-top: 0px !important;
    }

    .divTexto {
        margin-top: 10px !important;
        justify-content: start;
    }

    .divTextoNave {
        height: 100% !important;
    }

    .divTextNave1 {
        width: 80%;
        position: relative;
        top: 145px;
        left: 0px;
    }

    #textNave1 {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        top: -80px;
    }

    .textNaveMob {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        width: 400px;
    }

    #textNave1Line1 {
        position: relative;
        top: -40px;
        left: -120px;
    }

    #textNave1Line2{
        position: relative;
        top: -40px;
        left: -150px;
    }

    #textNave1Line3 {
        position: relative;
        top: -40px;
        left: -160px;
    }

    #textNave1Line4 {
        position: relative;
        top: -40px;
        left: -170px;
    }

    #textNave1Line5 {
        position: relative;
        top: -40px;
        left: -180px;
    }

    #textNave1Line6 {
        position: relative;
        top: -40px;
        left: -190px;
    }

    #textNave1Line7 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    #textNave1Line8 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    #textNave1Line9 {
        position: relative;
        top: -40px;
        left: -210px;
    }

    .textNaveMobile1 {
        display: none;
        position: relative;
        left: 200px;
        top: 50px;
    }

    .divTextNave2 {
        position: relative;
        top: 167px;
        left: -45px;
        height: 430px;
    }

    #textNave2, #textNave3 {
        font-family: 'Gotham-book';
        font-size: 12px;
    }

    .divTextNave3 {
        width: 140%;
        position: relative;
        top: -195px;
        left: -106px;
        margin-top: 0;
    }

    #textNave3 {
        max-width: 139%;
        position: relative;
        left: 21px;
    }

    .divIconesNave {
        width: 113% !important;
        margin-top: 0px;
        margin-bottom: 60px;
        position: relative;
        top: -206px;
        left: -106px;
        border: 3px solid grey;
        border-radius: 50px;
        padding: 30px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 30px;
        margin-bottom: 15px;
    }

    .divIconsNave4 {
        margin-bottom: 0 !important;
    }

    .iconsNaveContainer {
        flex-direction: column;
        gap: 5px;
    }

    .iconNave {
        width: 40%;
        position: relative;
        left: 0px;
    }

    /* Icons Nave */
    #livre {
        content: url("./assets/Celular/Icone-Livre_4.png");
    }

    #interface {
        content: url("./assets/Celular/Icone-Interface_5.png");
    }

    #audioDescricao {
        content: url("./assets/Celular/Icone-AudioDescricao_5.png");
    }

    #limpeza {
        content: url("./assets/Celular/Icone-Limpeza_5.png");
    }

    #offline {
        content: url("./assets/Celular/Icone-Offline_5.png");
    }

    #braile {
        content: url("./assets/Celular/Icone-brile_5.png");
    }

    #resistencia {
        content: url("./assets/Celular/Icone-Resistencia_5.png");
    }

    #garantia {
        content: url("./assets/Celular/Icone-Garantia_5.png");
    }

    #libras {
        content: url("./assets/Celular/Icone_LIBRAS_5.png");
    }

    #touch {
        content: url("./assets/Celular/Icone-Touch_5.png");
    }

    #ampliacao {
        content: url("./assets/Celular/Icone-Ampliacao_5.png");
    }

    #naoToxico {
        content: url("./assets/Celular/Icone-NaoToxico_4.png");
    }

    .textinNave {
        font-family: 'Gotham-book';
        font-size: 12px !important;
        margin-left: 0px;
        width: 80px;
        position: relative;
        left: 0px;
    }

    /* Título Ambietnes */
    #tituloAmbientes {
        content: url("./assets/Celular/Titulo2_3.png");
        padding: 20px 0 0 30px;
    }

    .planetasContainer {
        padding: 20px !important;
    }

    .planetas {
        width: 12% !important;
    }

    .divPrints {
        position: relative;
        left: 0px;
        padding: 25px !important;
        justify-content: center;
    }

    .divPrintsMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prints {
        border-radius: 10px !important;
    }

    .setaEsquerda, .setaDireita {
        display: flex;
    }

    /* Seta Esquerda */
    #setaEsquerda {
        max-width: 50%;
        left: 30px;
        top: 10px;
    }

    /* Seta Direita */
    #setaDireita {
        left: -30px;
        max-width: 50%;
        top: 10px;
    }

    .divBolinhasPlanetas {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .tituloMobile {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divGridGamesMobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px;
    }

    .prints {
        border-radius: 20px;
    }

    .ambienteText {
        font-size: 10px;
    }

    .divTituloPlanetas {
        height: 100px !important;
    }

    /* Selo */
    #seloMobile {
        width: 25%;
        position: relative;
        top: 50px;
        left: 300px;
        animation: floatMobile 5s ease-in-out infinite;
    }

    #selo {
        content: url("./assets/Celular/Selo_4.png");
        max-width: 80%;
        position: relative;
        top: -60px;
        left: 200px !important;
        animation: floatMobile 5s ease-in-out infinite;
    }

    .divCometa {
        display: none;
    }

    .acessibilidade {
        position: relative;
        top: -150px;
        height: 1050px;
    }

    #acessibilidade {
        content: url("./assets/Celular/Titulo3_2.png");
        position: relative;
        left: 13px;
    }

    .textoAcessibilidade {
        padding: 20px 0 0 90px !important;
    }

    /* Titulo Vídeo */
    #tituloVideo {
        content: url(./assets/Celular/Titulo4_2.png);
        width: 70% !important;
        margin-left: 50px;
        left: -57px !important;
    }

    .divTituloAcessibilidade {
        height: 0px !important;
    }


    .textAcessibilidade {
        max-width: 500px !important;
        width: 120%;
        font-size: 12px !important;
        position: relative;
        top: -15px;
        left: -40px;
    }

    .divTituloVideo {
        padding: 10px !important;
    }

    /* Moldura Video */
    #molduraVideo {
        content: url("./assets/Celular/GuiaAcessibilidade_1.png");
    }

    /* Video */
    .divVideo {
        position: relative;
        padding-bottom: 65.25% !important;
        height: 800px;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: 36px;
        top: 0px !important;
        width: 90%;
    }

    /* Titulo Sensor RFID */
    #tituloSensor {
        content: url("./assets/Celular/Sensor_4.png");
        padding: 20px 0px 10px 40px;
    }

    .divP1Sensor {
        margin-left: -3px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .cards1 {
        position: relative;
        top: -25px;
        left: 20px !important;
    }

    .cards2 {
        margin-top: 50px;
        margin-left: 50px;
        display: none !important;
    }

    .textSensor {
        margin-left: -29px;
        position: relative;
        left: 20px;
    }

    .textSensor, .textSensor2 {
        font-size: 12px !important;
    }

    .textSensor2 {
        position: relative;
        top: 200px !important;
        left: 0px !important;
        /* padding: 10px 0 0 20px;
        margin-left: -10px; */
    }

    .divCardSensor {
        padding: 20px !important;
    }

    /* .divTextSensor {
        width: 80% !important;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 40px;
    } */

    /* Cartas Sensor RFID */
    #cartaCores {
        content: url("./assets/Tablet/Cores_2.png");
        max-width: 100%;
        position: relative;
        left: 50px;
    }

    #cartaLetras {
        content: url("./assets/Tablet/Letras.png");
        max-width: 100%;
        position: relative;
        top: 50px;
        left: 90px;
    }

    #cartaNumeros {
        content: url("./assets/Tablet/Numeros_3.png");
        max-width: 100%;
        position: relative;
        top: 150px;
        left: -5px;
    }

    #lblCartaCores {
        font-size: 100%;
        position: relative;
        top: -20px;
        left: 132px;
        transform: rotate(-15deg);
    }

    #lblCartaLetras {
        font-size: 100%;
        position: relative;
        left: 95px;
        top: 60px;
        transform: rotate(5deg);
    }

    #lblCartaNumeros {
        font-size: 90%;
        position: relative;
        left: 25px;
        top: 170px;
        transform: rotate(25deg);
    }

    /* Nuvem footer sensor */
    .divFooterSensor {
        background: url("./assets/4K/Nuves2.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 15px !important;
        height: 100px;
    }

    /* Mesa Sensor */

    .divMesaSensor {
        display: none;
    }

    #mesaSensor {
        content: url("./assets/Tablet/Mesa2.png");
        position: relative;
        top: -250px;
        left: 400px;
    }

    /* Carta Sensor */
    #cartaSensor {
        content: url("./assets/1440/versoCarta.png");
        display: none;
    }

    #formacaoProfessores {
        content: url(./assets/Celular/Formacao_3.png);
        position: relative;
        top: 10px;
        left: -7px;
    }

    .textoFormacao {
        font-size: 12px !important;
        margin-left: -8px;
        left: 84px !important;
    }

    .textoForm {
        font-size: 12px !important;
        text-align: center;
    }

    .listaFormacao {
        margin-left: 75px !important;
    }

    /* Catálogo de Jogos */
    #catalogosJogos {
        content: url(./assets/Celular/LivroProfessor.png);
        position: relative;
        top: -15px;
        left: 0px;
    }

    /* Catálogo Técnico */
    #catalogoTecnico {
        content: url("./assets/1440/livroProfessor2.png");
        display: none;
    }

    .contato {
        position: relative;
        top: -900px;
    }

    .divContainerContato {
        padding: 10px 0px 0px 0px !important;
        width: 100% !important;
        margin: 0;
        left: -10px;
    }

    .divMiguel {
        display: none;
    }

    #logoCittiusForm {
        content: url("./assets/Celular/cittius.png");
        left: -7px;
        max-width: 100%;
    }

    .divLogoCittiusForm {
        padding: 20px !important;
    }

    .inputContato {
        border-radius: 20px;
        font-size: 12px;
        font-family: 'Gotham-book';
        padding-left: 20px;
        height: 25px !important;
    }

    .inputContato::placeholder {
        font-size: 12px;
    }
    
    #mensagem {
        font-size: 12px;
        font-family: 'Gotham-book';
        padding: 10px 20px;
        border-radius: 20px;
    }

    #mensagem::placeholder {
        font-size: 12px;
    }

     /* Botão Enviar Formulário */
     #enviar {
        content: url("./assets/Celular/Botao2_1.png");
    }

    #textoAmbiente {
        color: white;
        font-family: 'Gotham-book';
        font-size: 12px !important;
        margin-top: 10px;
    }

    .ambientes {
        position: relative;
        top: -200px;
    }

    .divFormulario {
        margin-bottom: 30px;
        margin-left: 0px;
        width: 80% !important;
    }

    .textCaracteristicas {
        position: relative;
        left: -25px;
        width: 90px;
    }

    #tituloPlaneta {
        position: relative;
        top: 20px;
    }

    .divOpcoesFormacao {
        margin-left: -90px !important;
    }

    .divAcessibilidadeContainer  {
        width: 76% !important;
    }

    #textNave2 {
        top: -90px;
        left: 105px;
        width: 190px !important;
    }

    #textNave3 {
        top: 20px;
    }
}

@media (max-width: 372px) {

    body {
        height: 3992px !important;
    }

    main {
        height: 465px;
    }

    .tituloNave {
        height: 1060px;
    }

    #botaoLogin {
        left: -130px;
    }

    #logoCittius {
        left: 120px;
    }

    #logoEducanave {
        left: -2px;
        width: 357px !important;
    }

    .textDecolar {
        width: 200px !important;
        padding-left: 0px;
    }

    .divTextNave1 {
        top: 138px !important;
        left: 15px;
    }

    .divTextNave2 {
        top: 152px !important;
        left: -20px;
    }

    .divTextNave3 {
        top: -196px;
    }

    .divIconesNave {
        left: -100px;
        top: -200px;
    }

    .iconNave {
        width: 25%;
        left: 0px;
    }

    .textinNave {
        left: 0px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 30px;
    }

    .iconsNaveContainer {
        gap: 5px;
    }

    .acessibilidade {
        height: 1100px;
    }

    #acessibilidade {
        left: 12px;
    }

    .textoAcessibilidade {
        left: 13px;
        padding: 20px 0 15px 35px !important;
    }

    #tituloVideo {
        top: -15px;
        left: -50px !important;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: -5px;
        top: 0px !important;
        width: 103%;
    }

    .cards1 {
        top: -10px;
        left: 20px !important;
    }

    .divTextAcessibilidadeCometa {
        width: 300px !important;
    }

    #lblCartaCores {
        top: -22px;
    }

    #lblCartaLetras {
        top: 56px !important;
    }

    #lblCartaNumeros {
        top: 173px !important;
    }

    /* .divTextSensor {
        width: 86% !important;
    } */

    /* .textSensor2 {
        left: -5px;
    } */

    .textoFormacao {
        left: 74px !important;
        margin-left: 0px;
    }

    .listaFormacao {
        margin-left: 10px !important;
    }

    .divOpcoesFormacao {
        margin-left: 0px !important;
    }

    .contato {
        height: 537px;
    }

    .divContainerContato {
        left: 0px;
    }

    .textoAcessibilidade {
        padding: 20px 0 15px 88px !important;
    }

    #textNave1 {
        left: 40px;
    }

    #textNave2 {
        top: -80px;
        left: 75px;
        width: 180px !important;
    }

    #textNave3 {
        top: 35px;
    }

    .textSensor {
        position: relative;
        left: 25px;
    }

    /* .textSensor2 {
        position: relative;
        left: 20px;
    } */

    .textSensor2 {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 250% !important;
        left: 0px !important;
        top: 152px !important;
        max-width: 250% !important;
    }

}

@media (max-width: 362px) {

    body {
        height: 3890px !important;
    }

    main {
        height: 465px;
    }
    
    #botaoLogin {
        left: -130px;
    }

    #logoCittius {
        content: url("./assets/Tablet/Cittius_2.png");
        max-width: 50%;
        position: relative;
        top: 20px;
        left: 120px;
    }

    #logoEducanave {
        top: 15px;
        left: -2px;
        width: 365px !important;
    }

    .textDecolar {
        width: 200px !important;
        padding-left: 0px;
    }

    .divNuvem {
        width: 18% !important;
    }

    .textDecolar {
        width: 200px !important;
    }

    #textMobile {
        width: 170px !important;
    }

    .tituloNave {
        height: 1080px;
    }

    .divTextNave1 {
        top: 140px !important;
        left: 10px;
    }

    .divTextNave2 {
        top: 150px !important;
        left: -20px;
    }

    .divTextNave3 {
        top: -196px;
    }

    .divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
        gap: 0 30px;
    }

    .divIconesNave {
        width: 113% !important;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        top: -200px;
        left: -102px;
        border: 3px solid grey;
        border-radius: 50px;
        padding: 30px;
    }

    .divTextAcessibilidadeCometa {
        width: 310px !important;
    }

    .iconNave {
        width: 40%;
        position: relative;
        left: 0px;
    }

    .textinNave {
        left: 0px;
    }

    .iconsNaveContainer {
        gap: 5px 0px;
    }

    .acessibilidade {
        position: relative;
        top: -130px;
        height: 240px !important;
    }

    #acessibilidade {
        margin-bottom: 10px;
    }

    .textAcessibilidade {
        left: -40px;
    }

    .divVideo video {
        z-index: -1;
        position: relative;
        left: -4px;
        top: 0px !important;
        width: 102%;
    }

    .ambientes {
        top: -185px;
    }

    .textSensor {
        position: relative;
        left: 22px;
    }

    /* .textSensor2 {
        position: relative;
        left: 10px;
    } */

    .cards1 {
        position: relative;
        top: -25px;
        left: 16px !important;
    }

    #lblCartaCores {
        font-size: 100%;
        position: relative;
        top: -21px;
        left: 132px;
        transform: rotate(-15deg);
    }

    #lblCartaLetras {
        top: 10px !important;
    }

    #cartaLetras {
        content: url(./assets/Tablet/Letras.png);
        max-width: 100%;
        position: relative;
        top: 0px;
        left: 90px;
    }

    #lblCartaNumeros {
        top: 89px !important;
        left: -82px !important;
    }

    #cartaNumeros {
        content: url(./assets/Tablet/Numeros_3.png);
        max-width: 100%;
        position: relative;
        top: 65px;
        left: -110px !important;
    }

    /* .divTextSensor {
        width: 88% !important;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    } */

    .textoFormacao {
        left: 54px;
    }

    #formacaoProfessores {
        left: -5px;
    }

    .textoFormacao {
        font-size: 12px !important;
        margin-left: -17px;
        left: 90px !important;
    }

    .listaFormacao {
        margin-left: 65px !important;
    }

    #catalogosJogos {
        content: url(./assets/Tablet/Livro\ do\ professor.png);
        position: relative;
        top: -15px;
        left: -7px;
    }

    .divOpcoesFormacao {
        margin-left: -24px !important;
        width: 125% !important;
    }

    .contato {
        height: 540px;
    }

    .divContainerContato {
        padding: 10px 0px 0px 0px !important;
        width: 100% !important;
        margin: 0;
        left: 0px;
    }

    #textNave2 {
        top: -75px;
        width: 180px !important;
        position: relative;
        left: 70px;
    }

    #textNave3 {
        top: 30px;
    }

    #tituloVideo {
        left: -45px !important;
    }

    .divTexto p {
        position: relative;
        left: 50px;
    }

    #mesaSensorMobile {
        top: -12px !important;
    }

    .textSensor2 {
        top: 2720px !important;
        width: 90% !important;
        left: 25px !important;
    }

    .sensorRfid {
        height: 650px !important;
    }

}