@import 'index4K.css';
@import 'index1920.css';
@import 'index1536.css';
@import 'index1440.css';
@import 'index1366.css';
@import 'index1280.css';
@import 'index1024.css';
@import 'index800.css';
@import 'index768.css';
@import 'index425.css';
@import 'index393.css';

@font-face {
    font-family: 'Gotham';
    src: url('./font/Gotham-Black.otf');
}

@font-face {
    font-family: 'Gotham-medium';
    src: url('./font/GothamMedium.ttf');
}

@font-face {
    font-family: 'Gotham-medium-1';
    src: url('./font/GothamMedium_1.ttf');
}

@font-face {
    font-family: 'Gotham-medium-italic';
    src: url('./font/GothamMediumItalic.ttf');
}

@font-face {
    font-family: 'Gotham-light';
    src: url('./font/GothamLight.ttf');
}

@font-face {
    font-family: 'Gotham-light-italic';
    src: url('./font/GothamLightItalic.ttf');
}

@font-face {
    font-family: 'Gotham-book';
    src: url('./font/GothamBook.ttf');
}

@font-face {
    font-family: 'Gotham-book-italic';
    src: url('./font/GothamBookItalic.ttf');
}

@font-face {
    font-family: 'Gotham-bold';
    src: url('./font/GothamBold.ttf');
}

@font-face {
    font-family: 'Gotham-bold-italic';
    src: url('./font/GothamBoldItalic.ttf');
}

@font-face {
    font-family: 'Gotham-xlight';
    src: url('./font/Gotham-XLight.otf');
}

@font-face {
    font-family: 'Gotham-xlight-italic';
    src: url('./font/Gotham-XLightItalic.otf');
}

@font-face {
    font-family: 'Gotham-ultraitalic';
    src: url('./font/Gotham-UltraItalic.otf');
}

@font-face {
    font-family: 'Gotham-thin';
    src: url('./font/Gotham-Thin.otf');
}

@font-face {
    font-family: 'Gotham-thin-italic';
    src: url('./font/Gotham-ThinItalic.otf');
}

/* body {
    overflow-x: hidden;
    height: 5000px;
} */

body {
    overflow-x: hidden;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

main {
    background: url("./assets/4K/Fundo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2560px;
}

.header {
    width: 100%;
}

.topIconsContainer {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
}

.middleTopContainer {
    display: flex;
    width: 100%;
    height: 1000px;
}

.divLogoEducanave {
    width: 30%;
}

.divLogoCittius {
    width: 50%;
    text-align: center;
}

.divBtnLogin {
    width: 20%;
    text-align: end;
}

.divNuvem {
    width: 20%;
}

.divDecolar {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.divTituloDecolar {
    height: 50%;
}

.divDecolarTexts {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.divDecolarText1, .divDecolarText2 {
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.divMesaSolContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.divSol {
    height: 50%;
}

.divMesa {
    height: 50%;
}

.fundoBranco {
    display: none;
}

.tituloNave {
    width: 100%;
}

.divTituloNave {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.divNaveContainer {
    display: flex;
}

.divDrAna {
    width: 30%;
}

.divTextoIcones {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.divTextoNave {
    width: 100%;
    height: 50%;
}

.divIconesNave {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.iconsNaveContainer {
    display: flex;
}

.divIconsNave1, .divIconsNave2, .divIconsNave3, .divIconsNave4 {
    display: flex;
    justify-content: center;
}

.divTituloAmbientes {
    width: 100%;
}

.planetasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.divPlanetas {
    display: flex;
    justify-content: center;
}

.divPrints {
    display: flex;
    padding: 50px 50px 0 50px;
    gap: 10px;
}

.divGridGames {
    display: flex;
}

.prints {
    width: 25%;
    border-radius: 20px;
}

.divTituloAmbientes {
    display: flex;
}

.divTituloPlanetas {
    width: 75%;
    height: 200px;
    display: flex;
    align-items: center;
}

.setaEsquerda, .setaDireita {
    width: 10%;
    display: flex;
    align-items: center;
}

.setaEsquerda {
    justify-content: right;
}

.setaDireita {
    justify-content: left;
}

#textoAmbiente {
    text-align: center;
    padding: 20px 0;
}

.titulo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ambienteText1, .ambienteText2 {
    font-family: 'Gotham-book';
    font-size: 30px;
    color: white;
}

.acessibilidade {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divAcessibilidadeContainer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
}

.divContainerTextoFormacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloAcessibilidade {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.divTextAcessibilidadeCometa {
    width: 100%;
    display: flex;
}

.textoAcessibilidade {
    width: 80%;
    padding: 50px 0 0 50px;
}

.divCometa {
    width: 20%;
    height: 300px;
}

.divVideoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloVideo {
    padding: 50px;
}

.divMolduraVideo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloSensor {
    width: 100%;
}

.divP1Sensor {
    width: 80%;
    margin-left: 100px;
}

.divTextCardContainer {
    display: flex;
    flex-direction: column;
}

.divTextSensor {
    width: 40%;
}

.divCardSensor {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.cards1, .cards2 {
    display: flex;
    gap: 50px;
}

.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lblCardItem {
    font-family: 'Gotham-book';
    font-size: 27px;
    color: white;
}

.divFooterSensor {
    width: 100%;
    display: flex;
}

.divMesaSensor {
    width: 50%;
}

.divCartaSensor {
    width: 50%;
    display: flex;
    justify-content: center;
}

.formacaoProfessores {
    padding: 50px;
    margin-bottom: 50px;
}

.tituloFormacao {
    width: 100%;
}

.divTexto {
    width: 90%;
    margin-top: 50px;
}

.textoFormacao {
    font-family: 'Gotham-book';
    font-size: 35px;
}

.divOpcoesFormacao {
    width: 100%;
    margin-left: 200px;
}

.listaFormacao {
    width: 80%;
    margin-top: 20px;
    margin-left: 100px;
}

.divLivros {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-left: -50px;
    justify-content: center;
    gap: 50px;
}

.contato {
    background-image: url("./assets/4K/Fundo2_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.divContainerContato {
    display: flex;
    justify-content: flex-end;
    padding: 10px 100px;
}

.divLogoCittiusForm {
    padding: 50px;
}

.divMiguel {
    width: 10%;
}

.textoForm {
    font-family: 'Gotham-book';
    font-size: 27px;
    color: white;
}

.btnEnviar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aspectStyles {
    max-width: 75%;
    font-size: 200%;
}

.aspectRatio {
    max-width: 100%;
}

.aspectSol {
    max-width: 120%;
}