/* 

CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

.img-inline{
    height:1.2em;
    border-radius:3px
}
.sublist{
    padding-left: 15px;
    margin-left: 20px;
}
.article_item2{
    float: left;
    width: 700px;
    background: url(images/dot_line_hor.png) top repeat-x;
    margin: 25px 30px 0 30px;
    padding: 25px 28px 0 0;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
}
.article_list .article_item2:first-child{
    background: none;
    padding-top: 0;
    margin-top: 0;
}
@media only screen and (max-width: 765px) and (min-width: 480px){
    .article_list .article_item2:first-child {
        padding-top: 0;
        margin-top: 0;
    }
    .article_item2, .article_item2.odd, .article_list .article_item2.second {
        width: 390px;
        margin: 20px auto 0 auto;
    }
}
@media only screen and (max-width: 765px) and (min-width: 280px){
    .article_item2, .article_item2.odd, .article_list .article_item2.second {
        float: none;
        width: 290px;
        min-height: inherit;
        margin: 20px 0 0 0;
        padding: 30px 0 0 0;
        background: url(images/dot_line_hor.png) top repeat-x;
    }
}