html {
    height: 100%;
}

body {
    height: 100%;
}

.navbarInicio {
    height: 200px;
    display: flex;
    align-items: center;
}

.navbarCapa {
    height: 200px;
    width: 100%;
}

.navbarLogo {
    height: 200px;
    position: absolute;
    padding-left: 30px;
}

.subnavbarInicio {
    background: #E6E6E6;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 255px;
    align-items: center;
}

.bordaSubMenus {
    background: #BFBFBF;
    border: 10px solid #BFBFBF;
    border-radius: 35px;
    position: absolute;
}

.menus, .menusSelecionados {
    cursor: pointer;
}

#menuEstrela-Selecionado, 
#menuTurma-Selecionado, 
#menuAtividades-Selecionado, 
#menuMensagem-Selecionado,
#menuConfiguracao-Selecionado {
    display: none;
}

.hrInicio {
    background-color: #BFBFBF;
    height: 8px;
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#breadcrumbborder {
    height: 10px;
    width: 80%;
    display: flex;
    background-color: #BFBFBF;
    border: 3px solid black;
}

.Menus {
    width: 100%;
    height: 60px;
    background: #646464;
    display: flex;
    align-items: center;
    border: none;
}

.SecMenus {
    width: 100%;
    height: 60px;
    background: #969696;
    display: flex;
    align-items: center;
    border: none;
}

.Contato {
    width: 100%;
    height: 60px;
    background: #969696;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#contato {
    margin-bottom: 3px;
}

.interiorAccordion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interiorAccordionManual {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.botaoAdd {
    padding: 20px;
}

.titleMenu {
    color: white;
    text-decoration: none;
    padding-left: 50px;
}

.btnAddDoc {
    cursor: pointer;
}

#fundoModalManual, #fundoModalDocumento {
    background-color: #fff0;
    border: none;
    width: 200%;
    height: 600px;
    left: -60%;
}

#tituloModalManual, #tituloModalDocumento {
    border: none;
    padding: 0;
    position: relative;
    top: -594px;
    left: 274px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#conteudoModalManual, #conteudoModalDocumento {
    top: -570px;
    left: 38px;
    width: 92%;
    height: 430px;
    display: flex;
    justify-content: center;
}

.interiorModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fraseUpload {
    text-align: center;
}

.inputFile {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[type="file"] {
    color: #000000;
}

[type="file"]::-webkit-file-upload-button {
    background: #76c949;
    border: 2px solid #76c949;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
    background: #fff;
    border: 2px solid #76c949;
    font-weight: normal;
    color: #000;
}

.divDocs{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    grid-auto-rows: 300px;
}

.imgPdfs {
    width: 65%;
}

.itemDocs {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerModalManual {
    border: none;
    padding: 0;
    position: relative;
    top: -19px;
    left: 274px;
}

.itemDoc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemDocDownload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.lblPdfs {
    padding-top: 10px;
    text-align: center;
    color: black;
}

.btnDelDocs {
    display: none;
    width: 15%;
    position: relative;
    top: -80px;
    left: 183px;
    cursor: pointer;
}

#footerModalDocumento {
    border: none;
    padding: 0;
    position: relative;
    top: 10px;
    left: 274px;
}

.iconFecharFooter {
    position: relative;
    width: 90%;
    left: -794px;
}

.iconSalvarFooter {
    position: relative;
    left: 40px;
}

.btnFechar {
    background-color: rgba(17, 17, 17, 0);
    border: none;
    width: 116px;
    height: 116px;
}

.load {
    z-index: 50;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: absolute;
    background-color: #767676bb;
    user-select: none;
}

.iconLoading {
    width: 10%;
    animation: rotateLoad 3s linear infinite;
}

#accordionManualdeUso, #accordionManualPedagogico, #accordionCatalogoJogos, #accordionCatalogoTecnico {
    width: 94%;
}

.iframePdfs {
    display: flex;
    justify-content: center;
}

.h1Iframe {
    padding-top: 30px;
}

#btnSair {
    text-decoration: none;
    color: white;
}

.espaco {
    height: 30px;
}

.footer {
    margin-top: 0;
    border-top: 1px solid #292929;
    width: 100%;
    bottom: 0px;
}

.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	background: #111;
	color: #999;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

#footerInfo {
    font-size: 20px;
}

