
.login-fields {
    display: flex;
    flex-direction: column;
}

.navbarIndex {
    height: 200px;
    display: flex;
    align-items: center;
}

.navbarCapa {
    height: 200px;
    width: 100%;
}

.navbarLogo {
    height: 200px;
    position: absolute;
    padding-left: 30px;
}

/*  ////////// Footer ////////// */

.espaco {
    height: 90px;
}

.footer {
    margin-top: 0;
    border-top: 1px solid #292929;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	background: #111;
	color: #999;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

#footerInfo {
    font-size: 20px;
}