

.navbarInicio {
    height: 200px;
    display: flex;
    align-items: center;
}

.navbarCapa {
    height: 200px;
    width: 100%;
}

.navbarLogo {
    height: 200px;
    position: absolute;
    padding-left: 30px;
}

.subnavbarInicio {
    background: #E6E6E6;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 255px;
    align-items: center;
}

.bordaSubMenus {
    background: #BFBFBF;
    border: 10px solid #BFBFBF;
    border-radius: 35px;
    position: absolute;
}

.menus, .menusSelecionados {
    cursor: pointer;
}

#menuEstrela-Selecionado, 
#menuTurma-Selecionado, 
#menuAtividades-Selecionado, 
#menuMensagem-Selecionado,
#menuConfiguracao-Selecionado {
    display: none;
}

.hrInicio {
    background-color: #BFBFBF;
    height: 8px;
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    padding-bottom: 2em;
    border-bottom: 1px solid #000;
    min-height: calc(100vh - 229px);
}

#breadcrumbborder {
    height: 10px;
    width: 80%;
    display: flex;
    background-color: #BFBFBF;
    border: 3px solid black;
}

.footer {
    margin-top: 0;
    border-top: 1px solid #292929;
    width: 100%;
    bottom: 0px;
}

.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	background: #111;
	color: #999;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

#footerInfo {
    font-size: 20px;
}

