/* Erros Formulários */

.erro {
    border: 3px solid red !important;
}

.pErro {
    position: relative;
    top: 37px;
    left: -550px;
    color: red;
}

.pErroEdit {
    position: relative;
    top: 37px;
    left: -456px;
    color: red;
}

.pErroAddTurma {
    position: relative;
    top: 32px;
    left: -568px;
    color: red;
    width: 322px;
}

.pErroEditTurma {
    position: relative;
    top: 32px;
    left: -576px;
    color: red;
    width: 330px;
}

.pErroAluno, .pErroEditAluno {
    padding-left: 15px;
    color: red;
}

/* Fim dos Erros de Formulário */

.navbarInicio {
    height: 200px;
    display: flex;
    align-items: center;
}

.navbarCapa {
    height: 200px;
    width: 100%;
}

.navbarLogo {
    height: 200px;
    position: absolute;
    padding-left: 30px;
}

.subnavbarInicio {
    background: #E6E6E6;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 255px;
    align-items: center;
}

.bordaSubMenus {
    background: #BFBFBF;
    border: 10px solid #BFBFBF;
    border-radius: 35px;
    position: absolute;
}

.menus, .menusSelecionados {
    cursor: pointer;
}

#menuEstrela-Selecionado, 
#menuTurma-Selecionado, 
#menuAtividades-Selecionado, 
#menuMensagem-Selecionado,
#menuConfiguracao-Selecionado {
    display: none;
}

.hrInicio {
    background-color: #BFBFBF;
    height: 8px;
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#itemTurma, #itemProf {
    display: flex;
    flex-direction: column;
}

.labelaccordion {
    font-size: 50px;
    color: white;
    position: relative;
}

.accordionTurma {
    display: flex;
    justify-content: center;
}

#btnTurma, #btnProf {
    width: 1500px;
    height: 20px;
    border: none;
    border-left: 5px solid darkgrey;
    border-right: 5px solid darkgrey;
    border-bottom: 5px solid lightgray;
}

#iconTurma, #iconProf {
    position: relative;
    left: -250px;
    top: -43px;
}

#lblTurma {
    left: -625px;
    top: -36px;
    cursor: pointer;
}

#lblProf {
    left: -695px;
    top: -36px;
    cursor: pointer;
}

#Alunos {
    display: flex;
    flex-direction: row;
}

#btnAluno {
    width: 1500px;
    height: 20px;
    border: none;
    border-left: 5px solid darkgrey;
    border-right: 5px solid darkgrey;
    border-bottom: 5px solid lightgray;
}

#iconAluno {
    position: relative;
    left: -255px;
    top: -42px;
}

#lblAluno {
    left: -625px;
    top: -34px;
    cursor: pointer;
}

#collapseTurma {
    padding-top: 50px;
    display: flex;
    background: rgb(243, 243, 243);
    justify-content: center;
}

#collapseProf {
    padding-top: 50px;
    display: flex;
    background: rgb(243, 243, 243);
    flex-direction: column;
    align-items: flex-start;

}

#collapseAluno {
    padding-top: 120px;
    display: flex;
    background: rgb(243, 243, 243);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#conteudoTurma {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-auto-rows: 200px;
}

#conteudoTurmaAdmin {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px;
}

.itemTurma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse:not(.show) {
    display: none !important;
}

#conteudoAluno {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-auto-rows: 200px;
}

#conteudoAlunoAdmin {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

#gridAddAlunoTurma {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-auto-rows: 175px;
}

#pesquisar {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pesquisaAluno {
    position: absolute;
    left: 100px;
    border: none;
    width: 700px;
    height: 48px;
    padding-left: 10px;
}

.selecaoQuadro, .selecaoQuadroAluno {
    position: absolute;
}

.selecaoQuadroAddAlunoTurma {
    position: absolute;
    display: none;
}

#selecionarTurma {
    position: relative;
    top: 70px;
    left: 150px;
    width: 700px;
    height: 50px;
}

#turmaVazia {
    position: relative;
    top: 70px;
    left: 150px;
    width: 700px;
    height: 50px;
}

#btnAddTurma {
    cursor: pointer;
}

#fundoModal, #fundoModalSalvar, #fundoModalAddAluno, #fundoModalEditTurma, #fundoModalEditAluno, #fundoModalAddAlunoTurma, #fundoModalAddAlunoLote, #fundoModalAddProf, #fundoModalSalvarProf, #fundoModalViewProf, #fundoModalEditProf {
    background-color: #fff0;
    border: none;
    width: 200%;
    height: 600px;
    left: -60%;
}

#fundoModalAlunoSalvar {
    background-color: #fff0;
    border: none;
    width: 200%;
    height: 600px;
    left: -58%;
}

#tituloModal, #tituloModalSalvar, #tituloModalAddAluno, #tituloModalAlunoSalvar, #tituloModalEditTurma, #tituloModalEditAluno, #tituloModalAddAlunoTurma, #tituloModalAddAlunoLote, #tituloModalAddProf, #tituloModalSalvarProf, #tituloModalViewProf, #tituloModalEditProf {
    border: none;
    padding: 0;
    position: relative;
    top: -594px;
    left: 263px;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1Turma, #h1TurmaSalvar, #h1AddAluno, #h1AlunoSalvar, #h1EditTurma, #h1EditAluno, #h1AddAlunoTurma, #h1AddAlunoLote, #h1AddProf, #h1SalvarProf, #h1ViewProf, #h1EditProf {
    color: white;
}

#conteudoModal, #conteudoModalSalvar{
    top: -570px;
    left: 38px;
    width: 92%;
    height: 430px;
    display: flex;
    justify-content: center;
}

#conteudoModalEditTurma {
    top: -670px;
    left: -19px;
    width: 92%;
    height: 430px;
    display: flex;
    justify-content: center;
}

#conteudoModalAluno, #conteudoModalEditAluno {
    position: relative;
    top: -570px;
    left: 38px;
    width: 92%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteudoModalAlunoSalvar {
    top: -570px;
    left: 38px;
    display: flex;
    justify-content: center;
}

#conteudoModalAddAlunoTurma, #conteudoModalAddAlunoLote {
    position: relative;
    top: -566px;
    left: 101px;
    width: 80%;
    height: 430px;
}

#conteudoModalEditProf {
    width: 967px;
    position: relative;
    top: -555px;
    left: 17px;
}

#conteudoAddProf {
    width: 967px;
    position: relative;
    top: -555px;
    left: 80px;
}

#conteudoSalvarProf, #conteudoModalViewProf {
    width: 967px;
    position: relative;
    top: -566px;
    left: 17px;
}

#iconeAlunoSalvar {
    height: 300px;
    width: 250px;
}

#bodyModal {
    display: flex;
    flex-direction: row;
}

#turmaIcone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

#carouselExampleCaptions {
    position: initial;
    width: 25%;
}

#carouselIndicators {
    top: 280px;
}

#quadroTurmaSalvar {
    width: 25%;
}

#dadosTurma {
    display: flex;
    position: relative;
    top: -530px;
    left: 140px;
    width: 100%;
    flex-direction: column;
}

#dadosTurmaSalvar {
    display: flex;
    position: relative;
    top: -531px;
    left: 140px;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

#dadosAluno, #dadosEditAluno {
    display: flex;
    position: relative;
    top: 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 530px;
}

.inputForm {
    width: 90%;
    border: none;
    padding-left: 5px;
    height: 25px;
    border-radius: 7px;
}

#observacoesAluno,   #observacoesEditAluno {
    width: 90%;
    border: none;
    padding-left: 5px;
    border-radius: 7px;
}

#dadosIcone, #dadosEditIcone {
    width: 400px;
}

#carouselExampleCaptions2, #carouselExampleCaptions3, #carouselExampleCaptions4 {
    top: 40px;
    left: 50px;
    width: 300px;
    padding: 60px;
}

#carouselIndicatorsAluno, #carouselIndicatorsEditAluno {
    width: 120%;
    top: 296px;
    left: -77px;
}

#dadosAlunoSalvar {
    display: flex;
    position: relative;
    top: -555px;
    left: -75px;
    flex-direction: column;
    align-items: flex-start;
    width: 464px;
}

.divInputTurma {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    height: 60px;
}

.divInputTurmaSalvar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.inputCadAluno,  .formEditAluno {
    width: 100%;
    height: 100%;
}

#lblNomeAluno, #lblEditNomeAluno {
    padding-right: 70px;
}

#lblResponsavelAluno, #lblEditResponsavelAluno {
    padding-right: 22px;
}

#lblGeneroAluno, #lblEditGeneroAluno {
    padding-right: 64px;
}

#lblTurmaAluno, #lblEditTurmaAluno {
    padding-right: 70px;
}

#lblNomeTurma {
    padding-right: 15px;
}

#lblObs, #lblEditObs {
    padding-right: 22px;
}

#lblNascimentoAluno, #lblEditNascimentoAluno {
    padding-right: 31px;
}

#lblNomeTurmaSalvar {
    padding-right: 15px;
}

#lblNomeAlunoSalvar, #lblResponsavelAlunoSalvar, #lblNascimentoAlunoSalvar, #lblGeneroAlunoSalvar, #lblTurmaAlunoSalvar, #lblObssalvar {
    padding-right: 20px;
}

#nomeTurma, #nomeTurmaEditTurma {
    width: 60%;
    border: none;
}

#nomeTurmaSalvar {
    width: 75%;
    border: none;
}

#lblMundoTurma {
    padding-right: 10px;
}

#lblMundoTurmaSalvar {
    padding-right: 10px;
}

#mundoTurma, #mundoTurmaEditTurma {
    width: 60%;
    border: none;
    height: 25px;
}

#mundoTurmaSalvar {
    width: 75%;
    border: none;
    height: 25px;
}

.seta {
    padding: 50px;
}

#setaEsquerdaTurma, #setaEsquerdaEditTurma, #setaEsquerdaAluno, #setaEsquerdaEditAluno {
    rotate: 270deg;
    cursor: pointer;
    position: relative;
    top: -5px;
}

#setaDireitaTurma, #setaDireitaEditTurma, #setaDireitaAluno, #setaDireitaEditAluno {
    rotate: 270deg;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.formAluno {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 60px;
}

.btnEdit {
    width: 50px;
    position: relative;
    top: -173px;
    left: 47px;
    cursor: pointer;
}

.btnEditAluno {
    width: 50px;
    position: relative;
    top: -210px;
    left: 50px;
    cursor: pointer;
}

.btnEditAlunoZero {
    width: 50px;
    position: relative;
    top: -180px;
    left: 50px;
    cursor: pointer;
}

#footerModal {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -548px;
    align-content: center;
    justify-content: space-between;
}

#footerModalSalvar {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -498px;
    align-content: center;
    justify-content: space-between;
}

#footerModalSalvarAluno {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -505px;
    align-content: center;
    justify-content: space-between;
}

#footerModalEditTurma {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -619px;
    align-content: center;
    justify-content: space-between;
}

#footerModalAluno {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -505px;
    align-content: center;
    justify-content: space-between;
}

#footerModalAddAlunoTurma {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -312px;
    align-content: center;
    justify-content: space-between;
}

#footerModalAddAlunoLote {
    width: 242%;
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: 18px;
    left: -298px;
    justify-content: space-between;
    flex-direction: row;
}

#footerModalEditAluno {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: -504px;
    align-content: center;
    justify-content: space-between;
}

#footerModalAlunoSalvar {
    border: none;
    padding: 0;
    position: relative;
    top: -492px;
}

#footerModalAddProf {
    display: flex;
    width: 1000px;
    border: none;
    padding: 0;
    position: relative;
    top: -478px;
    align-content: center;
    justify-content: space-between;
}

#footerModalEditProf {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: 215px;
    left: -38px;
    align-content: center;
    justify-content: space-between;
    width: 107%;
}

#footerViewProf {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: 165px;
    left: -34px;
    align-content: center;
    justify-content: space-between;
    width: 107%;
}

#footerSalvarProf {
    display: flex;
    border: none;
    padding: 0;
    position: relative;
    top: 226px;
    left: -34px;
    align-content: center;
    justify-content: space-between;
    width: 107%;
}

.btnFecharModal {
    width: 80px;
    height: 80px;
    position: relative;
    cursor: pointer;
}

#btnFecharModalEditTurma, #btnFecharModalEditAluno {
    top: -533px;
    left: 520px;
}

.btnSalvarModal {
    width: 80px;
    height: 80px;
    position: relative;
}

#btnSalvarNovoAlunoSalvar, #btnSalvarEditAluno {
    width: 80px;
    height: 80px;
    position: relative;
}

#deletarTurma, #deletarAluno {
    width: 80px;
    height: 80px;
    position: relative;
    left: -20px;
    cursor: pointer;
}

hr {
    height: 3px !important;
    color: #292929;
    margin: 20px;
    width: 1200px;
}

.itemAluno, .itemAlunoTurmaZero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dadosEditTurma {
    display: flex;
    position: relative;
    top: -635px;
    left: 140px;
    width: 100%;
    flex-direction: column;
}

.footer {
    margin-top: 0;
    border-top: 1px solid #292929;
    width: 100%;
    bottom: 0px;
}

.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	background: #111;
	color: #999;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

#footerInfo {
    font-size: 20px;
}

.btnOpen {
    border: none;
    background: #0000;
    width: 100px;
    height: 100px;
    position: relative;
    left: 32px;
}

.btnFechar {
    border: none;
    background: #0000;
    width: 100px;
    height: 100px;
    position: relative;
    left: -32px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#optionsAluno {
    z-index: 50;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 950px;
    left: 377px;
    animation: fadeIn 0.3s;
}

#AddAlunoOpt {
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 20px;
    background: #70BE45;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

#AddAlunoLoteOpt {
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 20px;
    background: #70BE45;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

#AddAlunoaTurma {
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 20px;
    background: #70BE45;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btnDisabled {
    background: #70be45a6 !important;
    border: solid 3px #0000007d !important;
    cursor: context-menu !important;
}

.btnRemoverdaTurma {
    z-index: 20;
    width: 30px;
    position: relative;
    top: -43px;
    left: -60px;
    cursor: pointer;
}

#itemVazio {
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

#modeloCadastroLote{
    display: flex;
    height: 62px;
    align-items: center;
    flex-direction: column;
}

#envioCadastroLote {
    display: flex;
    height: 97px;
    align-items: center;
    position: relative;
    top: 15px;
    flex-direction: column;
    justify-content: center;
}

#folhadePapel {
    width: 20%;
    padding-right: 20px;
}

#arquivoModelo {
    font-size: 20px;
    padding: 10px;
}

#linkArquivoModelo {
    padding-left: 122px;
}

#lblCadastroLote {
    font-size: 20px;
    padding: 20px;
}

#h2CadastroLote {
    text-align: center;
}

#h4CadastroLote {
    color: red;
    text-align: center;
}

#conteudoProf {
    width: 100%;
    padding: 50px;
}

#tableProf {
    width: inherit;
}

#tableTitleLine {
    background-image: url("../assets/capa-menu.png");
    border-radius: 5px 5px 0 0;
}

#thID, #thNome, #thPerfil, #thCodigo {
    width: 200px;
    font-size: 30px;
    color: white;
}

#thEmail {
    width: 300px;
    font-size: 30px;
    color: white;
}

#thAcoes {
    width: 200px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.tableButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnVisualizarProf, .btnEditarProf, .btnExcluirProf {
    width: 70px;
    cursor: pointer;
}

.tdData {
    font-size: 20px;
}

.trItem:hover {
   background-image: linear-gradient(#5A10C1, #2a0c57) !important;
   color: white;
}

#btnMaisProf {
    padding-left: 50px;
}

#dadosProf, #dadosEditProf {
    width: 128%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#dadosSalvarProf, #dadosViewProf {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formField {
    width: 94%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formEditField {
    width: 99%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formSalvarField, .formViewField {
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lblField, .lblEditField {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.lblDadosSalvarProf, .lblDadosViewProf {
    font-size: 20px;
    padding-left: 20px;
}

#nomeProf, #emailProf, #senha1Prof, #senha2Prof, #perfilProf, #nomeEditProf, #emailEditProf, #senha1EditProf, #senha2EditProf, #perfilEditProf {
    width: 50%;
    height: 60%;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

#formAddProf {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#formEditProf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#formProf {
    width: 80%;
}